{
  "openapi": "3.1.0",
  "info": {
    "title": "Vocobase Partner API",
    "version": "2.0",
    "description": "API for managing voice AI agents, documents, and calls on the Vocobase platform."
  },
  "servers": [
    {
      "url": "https://api.vocobase.com/api/v2",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Config",
      "description": "Read and update partner configuration, webhook settings, and telephony credentials."
    },
    {
      "name": "Agents",
      "description": "Create, read, update, and delete voice AI agents."
    },
    {
      "name": "Voices",
      "description": "List voice tiers, available voices, and stream preview audio for agent configuration."
    },
    {
      "name": "Documents",
      "description": "Upload, manage, and delete knowledge base documents."
    },
    {
      "name": "Agent Documents",
      "description": "Link and unlink documents to agents for knowledge base integration."
    },
    {
      "name": "Calls",
      "description": "Initiate outbound calls and view call history."
    },
    {
      "name": "Phone Numbers",
      "description": "Import DIDs, assign agents for inbound routing, and re-sync carrier Application bindings."
    },
    {
      "name": "Inbound Routing Policies",
      "description": "Define pre-answer routing decisions for inbound calls before AI sessions are created."
    },
    {
      "name": "Telephony Connections",
      "description": "Create, list, rename, and disconnect named V2 telephony connections."
    },
    {
      "name": "VoiceLink Management",
      "description": "Manage VoiceLink reseller clients, DID mapping, and readiness sync."
    },
    {
      "name": "Projects",
      "description": "Organize agents into projects. Every agent belongs to exactly one project."
    },
    {
      "name": "Dictionaries",
      "description": "Speech-recognition dictionary CRUD and agent attachment."
    },
    {
      "name": "Sessions",
      "description": "Browser-initiated WebRTC voice sessions for in-app voice agents."
    }
  ],
  "paths": {
    "/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get partner configuration",
        "description": "Returns the current partner configuration including webhook endpoints, telephony setup, agent limits, and allowed voices/languages. Sensitive values are masked.",
        "tags": ["Config"],
        "responses": {
          "200": {
            "description": "Partner configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/PartnerConfig" }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "name": "acme-corp",
                    "display_name": "Acme Corporation",
                    "agent_limit": 10,
                    "current_agent_count": 3,
                    "allowed_voices": ["voice-id-1", "voice-id-2"],
                    "allowed_languages": ["en", "hi", "es"],
                    "status": "active",
                    "webhook": {
                      "configured": true,
                      "url": "https://example.com/webhook",
                      "secret": "****"
                    },
                    "webhooks": [
                      {
                        "id": "12345678-abcd-1234-abcd-123456789012",
                        "label": "prod",
                        "url": "https://example.com/webhooks/vocobase",
                        "enabled": true,
                        "last_delivery_at": "2026-05-25T10:30:00.000Z",
                        "last_delivery_status": 200,
                        "created_at": "2026-05-25T10:00:00.000Z",
                        "updated_at": "2026-05-25T10:30:00.000Z"
                      }
                    ],
                    "allowed_telephony_providers": ["twilio", "exotel"],
                    "telephony": {
                      "twilio": {
                        "configured": true,
                        "account_sid": "conf****ured",
                        "from_number": "+14155551234"
                      },
                      "mcube": {
                        "configured": false,
                        "exe_number": null
                      },
                      "exotel": {
                        "configured": true,
                        "account_sid": "conf****ured",
                        "subdomain": "api.exotel.com",
                        "caller_id": "+919876543210",
                        "applet_id": "app_****"
                      },
                      "plivo": {
                        "configured": false,
                        "auth_id": null,
                        "from_number": null
                      },
                      "vobiz": {
                        "configured": false,
                        "auth_id": null,
                        "from_number": null
                      }
                    },
                    "created_at": "2025-01-15T10:30:00.000Z"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/webhook": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Set or update the legacy default webhook URL",
        "description": "Legacy compatibility endpoint. Creates or replaces the reserved `default` webhook endpoint used by older integrations. A new webhook secret is generated on each call. New integrations should use `POST /config/webhooks` to create labeled endpoints.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["webhook_url"],
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL to receive webhook events.",
                    "example": "https://example.com/webhooks/vocobase"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured successfully. The secret is shown only once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "webhook_url": { "type": "string", "format": "uri" },
                        "webhook_secret": { "type": "string", "description": "HMAC signing secret. Starts with `whsec_`." },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "webhook_url": "https://example.com/webhooks/vocobase",
                    "webhook_secret": "whsec_abc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/webhooks": {
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "description": "Lists all configured webhook endpoints for the authenticated partner. Secrets are never returned.",
        "tags": ["Config"],
        "responses": {
          "200": {
            "description": "Webhook endpoints retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "endpoints": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/PartnerWebhookEndpoint" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "endpoints": [
                      {
                        "id": "12345678-abcd-1234-abcd-123456789012",
                        "label": "prod",
                        "url": "https://example.com/webhooks/vocobase",
                        "enabled": true,
                        "last_delivery_at": "2026-05-25T10:30:00.000Z",
                        "last_delivery_status": 200,
                        "created_at": "2026-05-25T10:00:00.000Z",
                        "updated_at": "2026-05-25T10:30:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "description": "Creates a labeled webhook endpoint. Each enabled endpoint receives the same webhook events and signs requests with its own secret. The secret is returned once in this response and cannot be read again.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["label", "url"],
                "properties": {
                  "label": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9-]{0,30}$",
                    "description": "Partner-chosen endpoint label. Lowercase letters, numbers, and hyphens only; 1-31 characters.",
                    "example": "prod"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that receives webhook events.",
                    "example": "https://example.com/webhooks/vocobase"
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether the endpoint should receive new webhook events."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created. Save the secret immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/PartnerWebhookEndpoint" },
                        {
                          "type": "object",
                          "properties": {
                            "secret": {
                              "type": "string",
                              "description": "HMAC signing secret. Starts with `whsec_`. Returned only once."
                            },
                            "message": { "type": "string" }
                          }
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "12345678-abcd-1234-abcd-123456789012",
                    "label": "prod",
                    "url": "https://example.com/webhooks/vocobase",
                    "enabled": true,
                    "last_delivery_at": null,
                    "last_delivery_status": null,
                    "created_at": "2026-05-25T10:00:00.000Z",
                    "updated_at": "2026-05-25T10:00:00.000Z",
                    "secret": "whsec_abc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": {
            "description": "Label already exists or endpoint limit reached.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/webhooks/{id}": {
      "patch": {
        "operationId": "updateWebhookEndpoint",
        "summary": "Update a webhook endpoint",
        "description": "Updates an endpoint's label, URL, or enabled state. Disabled endpoints stop receiving new webhook events.",
        "tags": ["Config"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Webhook endpoint ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9-]{0,30}$",
                    "description": "New endpoint label. The reserved `default` label cannot be assigned manually."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "New HTTPS webhook URL."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether this endpoint should receive new webhook events."
                  }
                }
              },
              "example": { "enabled": false }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/PartnerWebhookEndpoint" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "Another endpoint already uses the requested label.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete a webhook endpoint",
        "description": "Deletes a webhook endpoint. Delivery attempts that were already created may still use the previous URL and secret, but the deleted endpoint stops receiving new events.",
        "tags": ["Config"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Webhook endpoint ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "deleted": { "type": "boolean", "const": true }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "12345678-abcd-1234-abcd-123456789012",
                    "deleted": true
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/webhooks/{id}/rotate-secret": {
      "post": {
        "operationId": "rotateWebhookEndpointSecret",
        "summary": "Rotate a webhook endpoint secret",
        "description": "Generates a new signing secret for the endpoint. The new secret is returned once. Delivery attempts that were already created may still use the previous secret.",
        "tags": ["Config"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Webhook endpoint ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint secret rotated. Save the new secret immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "label": { "type": "string" },
                        "secret": {
                          "type": "string",
                          "description": "New HMAC signing secret. Starts with `whsec_`. Returned only once."
                        },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "12345678-abcd-1234-abcd-123456789012",
                    "label": "prod",
                    "secret": "whsec_newabc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/twilio": {
      "put": {
        "operationId": "updateTwilioConfig",
        "summary": "Set or update Twilio credentials",
        "description": "Stores encrypted Twilio credentials for outbound calling. All three fields are required.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_sid", "auth_token", "from_number"],
                "properties": {
                  "account_sid": {
                    "type": "string",
                    "description": "Twilio Account SID.",
                    "example": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Twilio Auth Token.",
                    "example": "your_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Twilio phone number in E.164 format.",
                    "example": "+14155551234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Twilio credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_sid": { "type": "string", "description": "Masked Account SID." },
                        "from_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_sid": "ACxx****xxxx",
                    "from_number": "+14155551234",
                    "message": "Twilio credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/mcube": {
      "put": {
        "operationId": "updateMcubeConfig",
        "summary": "Set or update MCube credentials",
        "description": "Stores encrypted MCube JWT token and executive number for outbound calling. Creates or updates the partner\u0027s default MCube telephony connection; for multiple named connections use POST /telephony/connections with provider \"mcube\".",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jwt_token", "exe_number"],
                "properties": {
                  "jwt_token": {
                    "type": "string",
                    "description": "MCube JWT authentication token."
                  },
                  "exe_number": {
                    "type": "string",
                    "description": "MCube executive number (4-15 digits, optional + prefix).",
                    "example": "+919876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCube credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "exe_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "exe_number": "+919876543210",
                    "message": "MCube credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/exotel": {
      "put": {
        "operationId": "updateExotelConfig",
        "summary": "Set or update Exotel credentials",
        "description": "Stores encrypted Exotel credentials for outbound calling. All six fields are required. The `caller_id` must be an E.164 phone number that Exotel has provisioned for your account.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_sid", "api_key", "api_token", "subdomain", "caller_id", "applet_id"],
                "properties": {
                  "account_sid": {
                    "type": "string",
                    "description": "Exotel Account SID (SID of your Exotel account).",
                    "example": "acme"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Exotel API key.",
                    "example": "your_api_key"
                  },
                  "api_token": {
                    "type": "string",
                    "description": "Exotel API token.",
                    "example": "your_api_token"
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "Exotel API subdomain (region). Typical values: `api.exotel.com`, `api.in.exotel.com`.",
                    "example": "api.exotel.com"
                  },
                  "caller_id": {
                    "type": "string",
                    "description": "Exotel-provisioned phone number used as the caller ID, in E.164 format.",
                    "example": "+919876543210"
                  },
                  "applet_id": {
                    "type": "string",
                    "description": "Exotel Applet (flow) ID used to handle the call.",
                    "example": "12345"
                  }
                }
              },
              "example": {
                "account_sid": "acme",
                "api_key": "your_api_key",
                "api_token": "your_api_token",
                "subdomain": "api.exotel.com",
                "caller_id": "+919876543210",
                "applet_id": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exotel credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_sid": { "type": "string", "description": "Masked after save." },
                        "subdomain": { "type": "string" },
                        "caller_id": { "type": "string" },
                        "applet_id": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_sid": "conf****ured",
                    "subdomain": "api.exotel.com",
                    "caller_id": "+919876543210",
                    "applet_id": "12345",
                    "message": "Exotel credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/plivo": {
      "put": {
        "operationId": "updatePlivoConfig",
        "summary": "Set or update Plivo credentials",
        "description": "Stores encrypted Plivo credentials for outbound calling. All three fields are required. The `from_number` must be an E.164 phone number that Plivo has provisioned for your account.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_id", "auth_token", "from_number"],
                "properties": {
                  "auth_id": {
                    "type": "string",
                    "description": "Plivo Auth ID (starts with `MA` for production accounts, `SA` for subaccounts).",
                    "example": "MAxxxxxxxxxxxxxxxxxx"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Plivo Auth Token.",
                    "example": "your_plivo_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Plivo-provisioned phone number used as the caller ID, in E.164 format. Must have Voice capabilities enabled.",
                    "example": "+14155551234"
                  }
                }
              },
              "example": {
                "auth_id": "MAxxxxxxxxxxxxxxxxxx",
                "auth_token": "your_plivo_auth_token",
                "from_number": "+14155551234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plivo credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "auth_id": { "type": "string", "description": "Masked after save." },
                        "from_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "auth_id": "MAxx****xxxx",
                    "from_number": "+14155551234",
                    "message": "Plivo credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/vobiz": {
      "put": {
        "operationId": "updateVobizConfig",
        "summary": "Set or update Vobiz credentials",
        "description": "Stores encrypted Vobiz credentials for outbound calling. All three fields are required. The `from_number` must be an E.164 phone number that Vobiz has provisioned for your account.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_id", "auth_token", "from_number"],
                "properties": {
                  "auth_id": {
                    "type": "string",
                    "description": "Vobiz Auth ID (typically formatted as `MA_XXXXXXXX`).",
                    "example": "MA_XXXXXXXX"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Vobiz Auth Token.",
                    "example": "your_vobiz_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Vobiz-provisioned phone number used as the caller ID, in E.164 format.",
                    "example": "+918011223344"
                  }
                }
              },
              "example": {
                "auth_id": "MA_XXXXXXXX",
                "auth_token": "your_vobiz_auth_token",
                "from_number": "+918011223344"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vobiz credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "auth_id": { "type": "string", "description": "Masked after save." },
                        "from_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "auth_id": "MA_X****XXXX",
                    "from_number": "+918011223344",
                    "message": "Vobiz credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/voicelink": {
      "put": {
        "operationId": "updateVoiceLinkConfig",
        "summary": "Set or update VoiceLink credentials",
        "description": "Stores VoiceLink credentials for outbound calling. VoiceLink authenticates with a panel `username` and `password`; Vocobase logs in with these to obtain a short-lived access token (the password is stored encrypted and never returned). `username`, `password`, and `from_number` are required; `base_url` is optional and defaults to the VoiceLink API host. The `from_number` must be an E.164 number provisioned on your VoiceLink account and is stored as the connection's default outbound DID. Requires `\"voicelink\"` in `allowed_telephony_providers`.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "password", "from_number"],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "VoiceLink panel username.",
                    "example": "acme-voice"
                  },
                  "password": {
                    "type": "string",
                    "description": "VoiceLink panel password. Stored encrypted; never returned.",
                    "example": "your-voicelink-password"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "VoiceLink-provisioned number used as the caller ID, in E.164 format. Stored as the connection's default DID.",
                    "example": "+918011223344"
                  },
                  "base_url": {
                    "type": "string",
                    "description": "Optional VoiceLink API base URL. Omit to use the default host.",
                    "example": "https://app.voicelink.co.in"
                  }
                }
              },
              "example": {
                "username": "acme-voice",
                "password": "your-voicelink-password",
                "from_number": "+918011223344"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": { "type": "string" },
                        "from_number": { "type": "string" },
                        "base_url": { "type": ["string", "null"] },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "username": "acme-voice",
                    "from_number": "+918011223344",
                    "base_url": null,
                    "message": "VoiceLink credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/tata-smartflo": {
      "put": {
        "operationId": "updateTataSmartfloConfig",
        "summary": "Set or update Tata Smartflo credentials",
        "description": "Stores Tata Smartflo credentials for inbound and outbound BYOP WebSocket calling. Tata Smartflo authenticates with a panel `email` and `password`; Vocobase logs in with these to obtain short-lived API tokens (the password is stored encrypted and never returned). `email`, `password`, and `from_number` are required; `base_url` is optional and defaults to the Tata Smartflo API host. The `from_number` must be an E.164 DID returned by Smartflo `GET /v1/my_number` and is stored as the connection's default outbound DID. Requires `\"tata_smartflo\"` in `allowed_telephony_providers`.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password", "from_number"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Tata Smartflo panel email.",
                    "example": "ops@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Tata Smartflo panel password. Stored encrypted; never returned.",
                    "example": "your-smartflo-password"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Tata Smartflo DID used as the caller ID, in E.164 format. Stored as the connection's default DID.",
                    "example": "+918011223344"
                  },
                  "base_url": {
                    "type": "string",
                    "description": "Optional Tata Smartflo API base URL. Omit to use the default host.",
                    "example": "https://api-smartflo.tatateleservices.com"
                  },
                  "agent_number": {
                    "type": "string",
                    "description": "Optional outbound agent leg number. Use only after Vocobase confirms the required Smartflo value for your account."
                  }
                }
              },
              "example": {
                "email": "ops@example.com",
                "password": "your-smartflo-password",
                "from_number": "+918011223344",
                "base_url": "https://api-smartflo.tatateleservices.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tata Smartflo credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": { "type": "string" },
                        "from_number": { "type": "string" },
                        "base_url": { "type": ["string", "null"] },
                        "agent_number": { "type": ["string", "null"] },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "email": "ops@example.com",
                    "from_number": "+918011223344",
                    "base_url": "https://api-smartflo.tatateleservices.com",
                    "agent_number": null,
                    "message": "Tata Smartflo credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/display-name": {
      "put": {
        "operationId": "updateDisplayName",
        "summary": "Update partner display name",
        "description": "Changes the partner display name shown in the dashboard and API responses.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["display_name"],
                "properties": {
                  "display_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "New display name (1-100 characters).",
                    "example": "Acme Corporation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Display name updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "display_name": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "display_name": "Acme Corporation",
                    "message": "Display name updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/telephony/connections": {
      "get": {
        "operationId": "listTelephonyConnections",
        "summary": "List telephony connections",
        "description": "Lists active named telephony connections owned by the authenticated partner. Use the optional provider filter to narrow results.",
        "tags": ["Telephony Connections"],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["twilio", "exotel", "plivo", "vobiz", "tata_smartflo", "sip", "voicelink", "mcube"]
            },
            "description": "Optional provider filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Telephony connections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connections": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/TelephonyConnection" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createTelephonyConnection",
        "summary": "Create a telephony connection",
        "description": "Creates a named BYOP telephony connection. Store the returned `connection_id` and pass it to call-start or phone-number sync endpoints when a partner has multiple active connections for the same provider.",
        "tags": ["Telephony Connections"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateTelephonyConnectionRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connection created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connection": { "$ref": "#/components/schemas/TelephonyConnection" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "connection": {
                      "id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                      "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                      "provider": "plivo",
                      "provider_key": "PLIVO",
                      "name": "Plivo India - Sales",
                      "status": "ACTIVE",
                      "is_default": true,
                      "phone_numbers": []
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/telephony/connections/{connection_id}": {
      "patch": {
        "operationId": "renameTelephonyConnection",
        "summary": "Rename a telephony connection",
        "description": "Updates the display name of an active partner-owned telephony connection. Credentials are not rotated by this endpoint.",
        "tags": ["Telephony Connections"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Telephony connection ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Plivo India - Support"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connection": { "$ref": "#/components/schemas/TelephonyConnection" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "disconnectTelephonyConnection",
        "summary": "Disconnect a telephony connection",
        "description": "Disconnects an active partner-owned telephony connection and inactivates its phone numbers.",
        "tags": ["Telephony Connections"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Telephony connection ID."
          }
        ],
        "responses": {
          "204": { "description": "Connection disconnected." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/clients": {
      "get": {
        "operationId": "listVoiceLinkClients",
        "summary": "List VoiceLink clients",
        "description": "Lists clients from the selected active VoiceLink connection. Pass `connection_id` when the partner has more than one active VoiceLink connection. The VoiceLink upstream response is returned in `data` without Vocobase-side deletion or ownership changes.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "VoiceLink client search term."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "VoiceLink client status filter."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink page size."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink page number."
          }
        ],
        "responses": {
          "200": {
            "description": "VoiceLink clients response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 415,
                        "first_name": "Acme",
                        "last_name": "Sales",
                        "username": "acme-sales",
                        "email": "voice@example.com",
                        "status": 1,
                        "channel_count": 5
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createVoiceLinkClient",
        "summary": "Create a VoiceLink client",
        "description": "Creates a client in VoiceLink through the selected active VoiceLink connection. VoiceLink remains the source of truth for remote client ownership and status.",
        "tags": ["VoiceLink Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkCreateClientRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "first_name": "Acme",
                "last_name": "Sales",
                "username": "acme-sales",
                "email": "voice@example.com",
                "password": "temporary-client-password",
                "channel_count": 5,
                "phone": "+918011223344",
                "is_active": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink client created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "201": {
            "description": "VoiceLink client created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/clients/{client_id}": {
      "post": {
        "operationId": "updateVoiceLinkClient",
        "summary": "Update a VoiceLink client",
        "description": "Updates a client in VoiceLink. Fields omitted from the request are omitted from the forwarded VoiceLink update body.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" },
            "description": "VoiceLink client ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkUpdateClientRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "first_name": "Acme",
                "last_name": "Support",
                "email": "support@example.com",
                "channel_count": 10,
                "is_active": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink client updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/dids/purchased": {
      "get": {
        "operationId": "listPurchasedVoiceLinkDids",
        "summary": "List purchased VoiceLink DIDs",
        "description": "Lists DIDs already purchased or assigned in VoiceLink. This endpoint is read-only and does not purchase, renew, KYC, or allocate wallet credit.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "DID search term."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "VoiceLink DID status filter."
          },
          {
            "name": "did_type",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "VoiceLink DID type filter."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "VoiceLink client ID filter."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchased DIDs response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 812,
                        "did_id": 812,
                        "did_number": "918011223344",
                        "client_id": 415,
                        "status": "active"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/dids/available": {
      "get": {
        "operationId": "listAvailableVoiceLinkDids",
        "summary": "List available VoiceLink DIDs",
        "description": "Lists DIDs returned by VoiceLink as available for client mapping. Day-one scope is read-only for inventory: purchase, renew, KYC, wallet, and credit allocation operations are excluded.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "did_type",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Available DIDs response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/dids/map": {
      "post": {
        "operationId": "mapVoiceLinkDid",
        "summary": "Map a VoiceLink DID to a client",
        "description": "Maps a VoiceLink DID to a VoiceLink client. VoiceLink remains the source of truth for remote DID ownership; Vocobase does not delete local phone-number rows when remote mapping changes.",
        "tags": ["VoiceLink Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkMapDidRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "client_id": 415,
                "did_id": 812,
                "call_recording": 1,
                "user_status": 2,
                "description": "Sales outbound DID"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DID mapping response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/sync": {
      "post": {
        "operationId": "syncVoiceLinkState",
        "summary": "Sync VoiceLink state and readiness",
        "description": "Fetches remote VoiceLink clients, DIDs, available DIDs, bots, and routing, then compares them with Vocobase local PhoneNumber rows. By default, remote DIDs are imported into Vocobase local inventory; pass `import_dids: false` for a read-only readiness check. Sync does not silently delete local data.",
        "tags": ["VoiceLink Management"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkSyncRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "import_dids": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink sync and readiness result.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkSyncResponse" },
                "example": {
                  "success": true,
                  "data": {
                    "clients": [],
                    "dids": [
                      {
                        "id": 812,
                        "did_id": 812,
                        "did_number": "918011223344",
                        "phone_number": "+918011223344",
                        "client_id": 415,
                        "status": "active",
                        "is_expired": false,
                        "raw": {}
                      }
                    ],
                    "available_dids": [],
                    "bots": [],
                    "routing": [],
                    "local_phone_numbers": [],
                    "readiness": [
                      {
                        "key": "918011223344",
                        "phone_number": "+918011223344",
                        "state": "NO_BOT",
                        "issues": ["NO_BOT", "ROUTING_MISSING", "NO_VOCOBASE_AGENT"],
                        "remote_did": {
                          "did_id": 812,
                          "did_number": "918011223344",
                          "phone_number": "+918011223344",
                          "client_id": 415,
                          "is_expired": false,
                          "raw": {}
                        },
                        "local_phone_number": null,
                        "routing": null,
                        "bot": null,
                        "actions": [
                          "Create an active VoiceLink WebSocket bot for the mapped client",
                          "Create VoiceLink call routing for this DID",
                          "Assign a Vocobase agent to the local PhoneNumber row"
                        ],
                        "action_items": [
                          {
                            "code": "NO_BOT",
                            "label": "Create an active VoiceLink WebSocket bot for the mapped client"
                          },
                          {
                            "code": "ROUTING_MISSING",
                            "label": "Create VoiceLink call routing for this DID"
                          },
                          {
                            "code": "NO_VOCOBASE_AGENT",
                            "label": "Assign a Vocobase agent to the local PhoneNumber row"
                          }
                        ]
                      }
                    ],
                    "drift": [
                      {
                        "key": "918011223344",
                        "phone_number": "+918011223344",
                        "state": "NO_BOT",
                        "action": "Create an active VoiceLink WebSocket bot for the mapped client",
                        "did_id": 812,
                        "client_id": 415
                      }
                    ],
                    "warnings": []
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/call-ready": {
      "post": {
        "operationId": "makeVoiceLinkDidCallReady",
        "summary": "Make a VoiceLink DID call-ready",
        "description": "Runs the safe outbound call-ready workflow for a purchased VoiceLink DID: import the DID into Vocobase if missing, optionally map an unmapped DID to an explicitly supplied `client_id`, ensure an active VoiceLink WebSocket bot for the mapped client, and ensure outbound routing points to that bot. Existing inbound routing is preserved on routing updates. DID mapping happens only with an explicit `client_id` and only when the DID is currently unmapped — a DID mapped to a different client is never re-mapped, and clients are never auto-created. This endpoint does not purchase, renew, run KYC, or allocate wallet credit. Pass `connection_id` when the partner has more than one active VoiceLink connection.",
        "tags": ["VoiceLink Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkCallReadyRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "did_id": 812,
                "client_id": 415,
                "agent_id": "f4df9f8c-df95-46d8-bb0e-6f9f83fd4f55",
                "bot_name": "Vocobase +918011223344"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call-ready workflow result.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkCallReadyResponse" },
                "example": {
                  "success": true,
                  "data": {
                    "phone_number": "+918011223344",
                    "key": "918011223344",
                    "ready": true,
                    "steps": [
                      {
                        "step": "resolve_did",
                        "status": "done",
                        "detail": "Resolved DID +918011223344",
                        "data": {
                          "did_id": 812,
                          "client_id": 415
                        }
                      },
                      {
                        "step": "ensure_routing",
                        "status": "done",
                        "detail": "Updated routing for DID +918011223344 to outbound bot_id=93",
                        "data": {
                          "routing_id": 120
                        }
                      }
                    ],
                    "readiness_before": {
                      "key": "918011223344",
                      "phone_number": "+918011223344",
                      "state": "NO_BOT",
                      "issues": ["NO_BOT", "ROUTING_MISSING"],
                      "remote_did": {
                        "id": 812,
                        "did_id": 812,
                        "did_number": "918011223344",
                        "phone_number": "+918011223344",
                        "client_id": 415,
                        "status": "active",
                        "is_expired": false,
                        "raw": {}
                      },
                      "local_phone_number": null,
                      "routing": null,
                      "bot": null,
                      "actions": [
                        "Create an active VoiceLink WebSocket bot for the mapped client",
                        "Create VoiceLink call routing for this DID"
                      ],
                      "action_items": [
                        {
                          "code": "NO_BOT",
                          "label": "Create an active VoiceLink WebSocket bot for the mapped client"
                        },
                        {
                          "code": "ROUTING_MISSING",
                          "label": "Create VoiceLink call routing for this DID"
                        }
                      ]
                    },
                    "readiness": {
                      "key": "918011223344",
                      "phone_number": "+918011223344",
                      "state": "READY",
                      "issues": [],
                      "remote_did": {
                        "id": 812,
                        "did_id": 812,
                        "did_number": "918011223344",
                        "phone_number": "+918011223344",
                        "client_id": 415,
                        "status": "active",
                        "is_expired": false,
                        "raw": {}
                      },
                      "local_phone_number": {
                        "id": "0be141f3-f72c-4630-b3bc-a0a5f59bf970",
                        "phone_number": "+918011223344",
                        "friendly_name": "918011223344",
                        "status": "ACTIVE",
                        "is_default": false,
                        "inbound_enabled": true,
                        "agent": {
                          "id": "f4df9f8c-df95-46d8-bb0e-6f9f83fd4f55",
                          "name": "Sales Agent"
                        },
                        "created_at": "2026-06-09T10:30:00.000Z",
                        "updated_at": "2026-06-09T10:35:00.000Z"
                      },
                      "routing": {
                        "id": 120,
                        "phone_number": "+918011223344",
                        "for_inbound_call": 1,
                        "for_outbound_call": 3,
                        "outbound_websocket_bot_id": 93,
                        "raw": {}
                      },
                      "bot": {
                        "id": 93,
                        "name": "Vocobase +918011223344",
                        "status": 1,
                        "raw": {}
                      },
                      "actions": [],
                      "action_items": []
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/bots": {
      "get": {
        "operationId": "listVoiceLinkBots",
        "summary": "List VoiceLink WebSocket bots",
        "description": "Lists WebSocket bots from the selected active VoiceLink connection. Pass `connection_id` when the partner has more than one active VoiceLink connection. Numeric filters are validated strictly: zero, negative, non-integer, or non-finite values are rejected with a 400 `VALIDATION_ERROR` naming the field.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "VoiceLink bot search term."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "enum": [0, 1] },
            "description": "VoiceLink bot status filter: 1 active, 0 inactive."
          },
          {
            "name": "reseller_id",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink reseller ID filter."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink client ID filter."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 1000 },
            "description": "VoiceLink page size."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink page number."
          }
        ],
        "responses": {
          "200": {
            "description": "VoiceLink bots response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 93,
                        "bot_name": "Vocobase +918011223344",
                        "client_id": 415,
                        "websocket_url": "wss://api.pipecat.daily.co/ws/twilio",
                        "status": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createVoiceLinkBot",
        "summary": "Create a VoiceLink WebSocket bot",
        "description": "Creates a WebSocket bot in VoiceLink for a mapped client. When `websocket_url` is omitted, the bot points to the Vocobase Pipecat Cloud bot endpoint. This endpoint never purchases or renews DIDs, runs KYC, allocates wallet or credit, or deletes local Vocobase data. Numeric fields are validated strictly: zero, negative, non-integer, or non-finite values are rejected with a 400 `VALIDATION_ERROR` naming the field.",
        "tags": ["VoiceLink Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkCreateBotRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "bot_name": "Vocobase +918011223344",
                "client_id": 415,
                "status": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink bot created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "201": {
            "description": "VoiceLink bot created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/bots/{bot_id}": {
      "post": {
        "operationId": "updateVoiceLinkBot",
        "summary": "Update a VoiceLink WebSocket bot",
        "description": "Updates a WebSocket bot in VoiceLink. The VoiceLink update REPLACES the bot record, so resend every field you want kept — `bot_name`, `websocket_url`, and `status` are all required on update. This endpoint never purchases or renews DIDs, runs KYC, allocates wallet or credit, or deletes local Vocobase data.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "bot_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink bot ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkUpdateBotRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "bot_name": "Vocobase +918011223344",
                "websocket_url": "wss://api.pipecat.daily.co/ws/twilio",
                "status": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink bot updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/call-routing": {
      "get": {
        "operationId": "listVoiceLinkCallRouting",
        "summary": "List VoiceLink call routing",
        "description": "Lists DID call-routing records from the selected active VoiceLink connection. Pass `connection_id` when the partner has more than one active VoiceLink connection.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Optional unless multiple active VoiceLink connections exist."
          }
        ],
        "responses": {
          "200": {
            "description": "VoiceLink call-routing response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 120,
                        "did_id": 812,
                        "did_number": "918011223344",
                        "for_inbound_call": 1,
                        "for_outbound_call": 3,
                        "outbound_websocket_bot_id": 93,
                        "status": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createVoiceLinkCallRouting",
        "summary": "Create VoiceLink call routing",
        "description": "Creates a call-routing record for a DID (one record per DID). Provide either `did_id` or `did_number`. `for_inbound_call` and `for_outbound_call` are VoiceLink mode integers; `3` routes to a WebSocket bot. For the common outbound case, prefer `POST /voicelink/call-ready`, which performs the same setup safely. This endpoint never purchases or renews DIDs, runs KYC, allocates wallet or credit, or deletes local Vocobase data. Numeric fields are validated strictly: zero, negative, non-integer, or non-finite values are rejected with a 400 `VALIDATION_ERROR` naming the field.",
        "tags": ["VoiceLink Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkCreateRoutingRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "did_id": 812,
                "for_inbound_call": 1,
                "for_outbound_call": 3,
                "outbound_websocket_bot_id": 93,
                "status": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink call routing created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "201": {
            "description": "VoiceLink call routing created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/voicelink/call-routing/{routing_id}": {
      "post": {
        "operationId": "updateVoiceLinkCallRouting",
        "summary": "Update VoiceLink call routing",
        "description": "Updates a call-routing record in VoiceLink. The VoiceLink update REPLACES the routing record, so resend every field you want kept — `for_inbound_call`, `for_outbound_call`, and `status` are all required on update, including the current inbound values if you only intend to change outbound routing. For the common outbound case, prefer `POST /voicelink/call-ready`, which preserves existing inbound settings automatically. This endpoint never purchases or renews DIDs, runs KYC, allocates wallet or credit, or deletes local Vocobase data.",
        "tags": ["VoiceLink Management"],
        "parameters": [
          {
            "name": "routing_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "minimum": 1 },
            "description": "VoiceLink call-routing record ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VoiceLinkUpdateRoutingRequest" },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "for_inbound_call": 1,
                "for_outbound_call": 3,
                "outbound_websocket_bot_id": 93,
                "status": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink call routing updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceLinkProxyResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/phone-numbers": {
      "get": {
        "operationId": "listPhoneNumbers",
        "summary": "List imported phone numbers",
        "description": "Lists the partner's imported DIDs. Use `provider` or `connection_id` to filter the response. The returned phone number `id` is used by `PUT /phone-numbers/{id}` for agent assignment.",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["TWILIO", "EXOTEL", "PLIVO", "VOBIZ", "TATA_SMARTFLO", "SIP", "VOICELINK"]
            },
            "description": "Optional provider filter."
          },
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Optional connection filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Imported phone numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "phone_numbers": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/PhoneNumber" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "phone_numbers": [
                      {
                        "id": "f1a2c3d4-1111-2222-3333-444455556666",
                        "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                        "connection_name": "Vobiz Mumbai",
                        "phone_number": "+918065480085",
                        "provider": "VOBIZ",
                        "friendly_name": null,
                        "status": "ACTIVE",
                        "is_default": false,
                        "inbound_enabled": false,
                        "agent": null,
                        "created_at": "2026-05-20T08:00:00.000Z",
                        "updated_at": "2026-05-20T08:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/phone-numbers/sync": {
      "post": {
        "operationId": "syncPhoneNumbers",
        "summary": "Sync Plivo or Vobiz DIDs",
        "description": "Imports DIDs into Vocobase for inbound routing. For Plivo, Vocobase pulls the inventory from Plivo REST using the selected connection's credentials. For Vobiz, pass an explicit `numbers` array because Vobiz inventory pull is not available. Vobiz uses `numbers`, not `phone_numbers`. Pass `connection_id` when the partner has multiple active connections for the provider.",
        "tags": ["Phone Numbers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["provider"],
                    "properties": {
                      "provider": { "type": "string", "const": "PLIVO" },
                      "connection_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional unless multiple active Plivo connections exist."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["provider", "numbers"],
                    "properties": {
                      "provider": { "type": "string", "const": "VOBIZ" },
                      "connection_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional unless multiple active Vobiz connections exist."
                      },
                      "numbers": {
                        "type": "array",
                        "items": { "type": "string", "pattern": "^\\+[1-9]\\d{6,14}$" },
                        "minItems": 1,
                        "description": "Vobiz DIDs in E.164 format. This field is named `numbers`."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "plivo": {
                  "summary": "Plivo inventory pull",
                  "value": {
                    "provider": "PLIVO",
                    "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20"
                  }
                },
                "vobiz": {
                  "summary": "Vobiz explicit DID list",
                  "value": {
                    "provider": "VOBIZ",
                    "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                    "numbers": ["+918065480085", "+919109518550"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync completed. Plivo and Vobiz return different counters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "imported": { "type": "integer" },
                            "skipped": { "type": "integer" },
                            "total_remote": { "type": "integer" }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "added": { "type": "integer" },
                            "updated": { "type": "integer" },
                            "removed": { "type": "integer" }
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "plivo": {
                    "value": {
                      "success": true,
                      "data": { "imported": 2, "skipped": 1, "total_remote": 3 }
                    }
                  },
                  "vobiz": {
                    "value": {
                      "success": true,
                      "data": { "added": 2, "updated": 0, "removed": 0 }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/phone-numbers/resync": {
      "post": {
        "operationId": "resyncPhoneNumbers",
        "summary": "Re-apply carrier Application bindings",
        "description": "Re-applies the Vocobase answer/status Application binding to every assigned DID for the requested provider. Use this after rotating credentials, editing carrier-side settings directly, or validating that all assigned DIDs point back to Vocobase.",
        "tags": ["Phone Numbers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["provider"],
                "properties": {
                  "provider": { "type": "string", "enum": ["PLIVO", "VOBIZ"] },
                  "connection_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional unless multiple active connections exist for this provider."
                  }
                }
              },
              "example": {
                "provider": "VOBIZ",
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resync summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" },
                        "succeeded": { "type": "integer" },
                        "failed": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "phone_number": { "type": "string" },
                              "error": { "type": "string" }
                            }
                          }
                        },
                        "application_id": { "type": ["string", "null"] }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 3,
                    "succeeded": 3,
                    "failed": [],
                    "application_id": "VB_APP_a1b2c3d4"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/phone-numbers/{id}": {
      "put": {
        "operationId": "updatePhoneNumber",
        "summary": "Assign an agent to a DID",
        "description": "Updates a phone number's agent assignment, inbound-routing flag, friendly name, or status. Active duplicate DIDs are allowed for outbound caller ID reuse, but only one active row per DID can have `inbound_enabled=true`. When inbound routing changes for Plivo or Vobiz, Vocobase first updates the carrier Application binding and then updates the local record. If carrier sync fails, the local assignment is not committed.",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Phone number ID from `GET /phone-numbers`."
          }
        ],
[...]
