{
  "openapi": "3.1.0",
  "info": {
    "title": "Vocobase API",
    "version": "2.0",
    "description": "API for managing voice AI agents, documents, and calls on the Vocobase platform."
  },
  "servers": [
    {
      "url": "https://api.vocobase.com/api/v2",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Config",
      "description": "Read and update account configuration, webhook settings, and telephony credentials."
    },
    {
      "name": "Agents",
      "description": "Create, read, update, and delete voice AI agents."
    },
    {
      "name": "Voices",
      "description": "List voice tiers, available voices, and stream preview audio for agent configuration."
    },
    {
      "name": "Documents",
      "description": "Upload, manage, and delete knowledge base documents."
    },
    {
      "name": "Agent Documents",
      "description": "Link and unlink documents to agents for knowledge base integration."
    },
    {
      "name": "Calls",
      "description": "Initiate outbound calls and view call history."
    },
    {
      "name": "Phone Numbers",
      "description": "Import DIDs, assign agents for inbound routing, and re-sync carrier Application bindings."
    },
    {
      "name": "Inbound Routing Policies",
      "description": "Define pre-answer routing decisions for inbound calls before AI sessions are created."
    },
    {
      "name": "Telephony Connections",
      "description": "Create, list, rename, and disconnect named V2 telephony connections."
    },
    {
      "name": "VoiceLink Management",
      "description": "Manage VoiceLink reseller clients, DID mapping, and readiness sync."
    },
    {
      "name": "Projects",
      "description": "Organize agents into projects. Every agent belongs to exactly one project."
    },
    {
      "name": "Dictionaries",
      "description": "Speech-recognition dictionary CRUD and agent attachment."
    },
    {
      "name": "Sessions",
      "description": "Browser-initiated WebRTC voice sessions for in-app voice agents."
    },
    {
      "name": "Campaigns",
      "description": "Batch outbound calling."
    },
    {
      "name": "Billing",
      "description": "Balance, transactions, and usage summaries."
    },
    {
      "name": "Custom Functions",
      "description": "HTTP endpoints the agent can call mid-conversation."
    },
    {
      "name": "Extraction Sets",
      "description": "Reusable sets of post-call extraction fields."
    },
    {
      "name": "Lifecycle Hooks",
      "description": "Automatic pre-call and post-call integration steps."
    },
    {
      "name": "Messaging",
      "description": "Bring-your-own WhatsApp sending."
    },
    {
      "name": "Integration Logs",
      "description": "Audit trail for integration calls."
    },
    {
      "name": "Connectors",
      "description": "Catalog of tools an agent can be connected to."
    },
    {
      "name": "Customers",
      "description": "B2B2B sub-tenants and their tool connections."
    },
    {
      "name": "Agent Tools",
      "description": "Binding connectors and connections to an agent."
    }
  ],
  "paths": {
    "/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get account configuration",
        "description": "Returns the current account configuration including webhook endpoints, telephony setup, agent limits, and allowed voices/languages. Sensitive values are masked.",
        "tags": [
          "Config"
        ],
        "responses": {
          "200": {
            "description": "Account configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountConfig"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "name": "acme-corp",
                    "display_name": "Acme Corporation",
                    "agent_limit": 10,
                    "current_agent_count": 3,
                    "allowed_voices": [
                      "voice-id-1",
                      "voice-id-2"
                    ],
                    "allowed_languages": [
                      "en",
                      "hi",
                      "es"
                    ],
                    "status": "active",
                    "webhook": {
                      "configured": true,
                      "url": "https://example.com/webhook",
                      "secret": "****"
                    },
                    "webhooks": [
                      {
                        "id": "12345678-abcd-1234-abcd-123456789012",
                        "label": "prod",
                        "url": "https://example.com/webhooks/vocobase",
                        "enabled": true,
                        "agent_id": null,
                        "agent_name": null,
                        "events": [],
                        "last_delivery_at": "2026-05-25T10:30:00.000Z",
                        "last_delivery_status": 200,
                        "created_at": "2026-05-25T10:00:00.000Z",
                        "updated_at": "2026-05-25T10:30:00.000Z"
                      }
                    ],
                    "allowed_telephony_providers": [
                      "twilio",
                      "exotel"
                    ],
                    "telephony": {
                      "twilio": {
                        "configured": true,
                        "account_sid": "conf****ured",
                        "from_number": "+14155551234"
                      },
                      "mcube": {
                        "configured": false,
                        "exe_number": null
                      },
                      "exotel": {
                        "configured": true,
                        "account_sid": "conf****ured",
                        "subdomain": "api.exotel.com",
                        "caller_id": "+919876543210",
                        "applet_id": "app_****"
                      },
                      "plivo": {
                        "configured": false,
                        "auth_id": null,
                        "from_number": null
                      },
                      "vobiz": {
                        "configured": false,
                        "auth_id": null,
                        "from_number": null
                      }
                    },
                    "created_at": "2025-01-15T10:30:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/webhook": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Set or update the legacy default webhook URL",
        "description": "Legacy compatibility endpoint. Creates or replaces the reserved `default` webhook endpoint used by older integrations. A new webhook secret is generated on each call. New integrations should use `POST /config/webhooks` to create labeled endpoints.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "webhook_url"
                ],
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL to receive webhook events.",
                    "example": "https://example.com/webhooks/vocobase"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured successfully. The secret is shown only once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "webhook_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "webhook_secret": {
                          "type": "string",
                          "description": "HMAC signing secret. Starts with `whsec_`."
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "webhook_url": "https://example.com/webhooks/vocobase",
                    "webhook_secret": "whsec_abc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/webhooks": {
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "description": "Lists all configured webhook endpoints for the authenticated account. Secrets are never returned. Use `agent_id` to narrow the list by scope.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by scope. An agent ID returns only that agent's endpoints; the literal `none` returns account-wide endpoints only. Omit to return every endpoint on the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoints retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "endpoints": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WebhookEndpoint"
                          }
                        },
                        "available_events": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WebhookEventType"
                          },
                          "description": "The complete webhook event catalog. These are the only values accepted in an endpoint's `events` allowlist."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "endpoints": [
                      {
                        "id": "12345678-abcd-1234-abcd-123456789012",
                        "label": "prod",
                        "url": "https://example.com/webhooks/vocobase",
                        "enabled": true,
                        "agent_id": null,
                        "agent_name": null,
                        "events": [],
                        "last_delivery_at": "2026-05-25T10:30:00.000Z",
                        "last_delivery_status": 200,
                        "created_at": "2026-05-25T10:00:00.000Z",
                        "updated_at": "2026-05-25T10:30:00.000Z"
                      }
                    ],
                    "available_events": [
                      "session.completed",
                      "call.status.updated",
                      "call.transferred",
                      "whatsapp.message.sent",
                      "whatsapp.message.failed",
                      "whatsapp.message.status_updated"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "description": "Creates a labeled webhook endpoint and signs its requests with its own secret. Which events an endpoint receives is controlled per endpoint by `agent_id` (scope) and `events` (allowlist); with both omitted the endpoint is account-wide and receives every event type. The secret is returned once in this response and cannot be read again.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "url"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9-]{0,30}$",
                    "description": "Your chosen endpoint label. Lowercase letters, numbers, and hyphens only; 1-31 characters. Unique per **account**, not per scope — reusing a label on a second agent returns `409 LABEL_TAKEN`. The reserved `default` label cannot be created here.",
                    "example": "prod"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that receives webhook events.",
                    "example": "https://example.com/webhooks/vocobase"
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether the endpoint should receive new webhook events."
                  },
                  "agent_id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Bind the endpoint to a single agent, so it receives only that agent's events. Omit or send `null` for an account-wide endpoint that receives every agent's events. Agent-scoped endpoints are additive — they do not suppress account-wide ones. **Set once**: this field is immutable and `PATCH` rejects it. An agent that is not yours returns `404 NOT_FOUND`."
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEventType"
                    },
                    "default": [],
                    "description": "Event allowlist. Omit or send `[]` to receive every event type, including ones added later. Unknown values are rejected with `400 VALIDATION_ERROR`; duplicates are de-duplicated. `webhook.test` is not a valid value — test events always reach the endpoint being tested."
                  }
                }
              },
              "example": {
                "label": "prod",
                "url": "https://example.com/webhooks/vocobase"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created. Save the secret immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/WebhookEndpoint"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "secret": {
                              "type": "string",
                              "description": "HMAC signing secret. Starts with `whsec_`. Returned only once."
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "12345678-abcd-1234-abcd-123456789012",
                    "label": "prod",
                    "url": "https://example.com/webhooks/vocobase",
                    "enabled": true,
                    "agent_id": null,
                    "agent_name": null,
                    "events": [],
                    "last_delivery_at": null,
                    "last_delivery_status": null,
                    "created_at": "2026-05-25T10:00:00.000Z",
                    "updated_at": "2026-05-25T10:00:00.000Z",
                    "secret": "whsec_abc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The supplied `agent_id` does not belong to the authenticated account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`LABEL_TAKEN` — the label is already used by another endpoint on this account (labels are unique per account, not per scope) — or `LIMIT_EXCEEDED` — this scope already has 5 endpoints. The limit is counted per scope: the account bucket gets its own 5, and so does each agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/webhooks/{id}": {
      "patch": {
        "operationId": "updateWebhookEndpoint",
        "summary": "Update a webhook endpoint",
        "description": "Updates an endpoint's label, URL, enabled state, or event allowlist. Disabled endpoints stop receiving new webhook events. `agent_id` is **not** updatable — see the request schema.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook endpoint ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9-]{0,30}$",
                    "description": "New endpoint label. Unique per account. The reserved `default` label cannot be assigned manually, and the `default` endpoint cannot be renamed away from it."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "New HTTPS webhook URL."
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether this endpoint should receive new webhook events."
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEventType"
                    },
                    "description": "Replacement event allowlist. Send `[]` to receive every event type. The whole array is validated, so it must contain only currently valid event names."
                  },
                  "agent_id": {
                    "description": "**Not accepted.** An endpoint's scope is set once at creation and is immutable; sending this field at all — even with the endpoint's current value — returns `400 VALIDATION_ERROR`. Delete the endpoint and create a new one to change its scope.",
                    "readOnly": true
                  }
                }
              },
              "example": {
                "enabled": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Another endpoint already uses the requested label.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete a webhook endpoint",
        "description": "Deletes a webhook endpoint. Delivery attempts that were already created may still use the previous URL and secret, but the deleted endpoint stops receiving new events.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook endpoint ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "12345678-abcd-1234-abcd-123456789012",
                    "deleted": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/webhooks/{id}/rotate-secret": {
      "post": {
        "operationId": "rotateWebhookEndpointSecret",
        "summary": "Rotate a webhook endpoint secret",
        "description": "Generates a new signing secret for the endpoint. The new secret is returned once. Delivery attempts that were already created may still use the previous secret.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook endpoint ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint secret rotated. Save the new secret immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "label": {
                          "type": "string"
                        },
                        "secret": {
                          "type": "string",
                          "description": "New HMAC signing secret. Starts with `whsec_`. Returned only once."
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "12345678-abcd-1234-abcd-123456789012",
                    "label": "prod",
                    "secret": "whsec_newabc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/webhooks/{id}/test": {
      "post": {
        "operationId": "sendWebhookEndpointTestEvent",
        "summary": "Send a test event to a webhook endpoint",
        "description": "Enqueues a real, signed `webhook.test` delivery to this one endpoint through the production queue, so it exercises signing, SSRF validation, and retries, and appears in delivery history like any other event. The endpoint's `events` allowlist is deliberately bypassed — a test must reach the endpoint being tested even when its filter would exclude everything — so `webhook.test` is not a valid allowlist value and must be handled or ignored explicitly in your handler. Disabled endpoints are refused.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook endpoint ID."
          }
        ],
        "responses": {
          "202": {
            "description": "Delivery enqueued. This does **not** mean your server accepted it — check delivery history for the outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "delivery_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID of the enqueued delivery. Look it up via `GET /config/webhooks/{id}/deliveries`."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "delivery_id": "d1e2f3a4-5678-90ab-cdef-1234567890ab"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "`ENDPOINT_DISABLED` — enable the endpoint before sending a test event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/webhooks/{id}/deliveries": {
      "get": {
        "operationId": "listWebhookEndpointDeliveries",
        "summary": "List recent deliveries for a webhook endpoint",
        "description": "Returns this endpoint's recent delivery attempts, newest first, cursor-paginated. Page by passing the previous response's `next_cursor`; a `null` cursor means there are no more pages.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook endpoint ID."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of deliveries to return."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Delivery ID to page from. Pass the previous response's `next_cursor`."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "DELIVERING",
                "DELIVERED",
                "FAILED",
                "EXHAUSTED"
              ]
            },
            "description": "Filter by delivery status (case-insensitive)."
          }
        ],
        "responses": {
          "200": {
            "description": "Deliveries retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deliveries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WebhookDelivery"
                          }
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid",
                          "description": "Cursor for the next page, or `null` when there are no more pages."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "deliveries": [
                      {
                        "id": "d1e2f3a4-5678-90ab-cdef-1234567890ab",
                        "event_type": "session.completed",
                        "status": "DELIVERED",
                        "attempts": 2,
                        "max_attempts": 5,
                        "session_id": "5f6e7d8c-1234-5678-9abc-def012345678",
                        "url": "https://example.com/webhooks/vocobase",
                        "last_response_status": 200,
                        "last_error": null,
                        "next_attempt_at": null,
                        "last_attempt_at": "2026-05-25T10:31:04.000Z",
                        "delivered_at": "2026-05-25T10:31:04.000Z",
                        "created_at": "2026-05-25T10:30:59.000Z"
                      }
                    ],
                    "next_cursor": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/agent/{agentId}/webhooks": {
      "get": {
        "operationId": "listAgentWebhookEndpoints",
        "summary": "List an agent's webhook endpoints",
        "description": "Returns the endpoints bound to this agent, the agent's account fan-out setting, and the webhook event catalog. `endpoints` lists **only** this agent's own endpoints — it deliberately does not fold in account-wide endpoints, even when `include_account_endpoints` is `true`, so you can see which rows actually live on the agent.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent webhook configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "endpoints": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WebhookEndpoint"
                          }
                        },
                        "include_account_endpoints": {
                          "type": "boolean",
                          "description": "Whether this agent's events also reach account-wide endpoints. `true` by default."
                        },
                        "available_events": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WebhookEventType"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "endpoints": [
                      {
                        "id": "e1f2a3b4-5678-90ab-cdef-1234567890ab",
                        "label": "acme-tenant",
                        "url": "https://acme.example.com/vocobase",
                        "enabled": true,
                        "agent_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "agent_name": "Acme Sales Bot",
                        "events": [
                          "session.completed"
                        ],
                        "last_delivery_at": "2026-05-25T10:30:00.000Z",
                        "last_delivery_status": 200,
                        "created_at": "2026-05-25T10:00:00.000Z",
                        "updated_at": "2026-05-25T10:30:00.000Z"
                      }
                    ],
                    "include_account_endpoints": false,
                    "available_events": [
                      "session.completed",
                      "call.status.updated",
                      "call.transferred",
                      "whatsapp.message.sent",
                      "whatsapp.message.failed",
                      "whatsapp.message.status_updated"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createAgentWebhookEndpoint",
        "summary": "Create a webhook endpoint bound to an agent",
        "description": "Same as `POST /config/webhooks`, except the scope is taken from the path. Any `agent_id` in the body is ignored — this route can only bind to the agent in the URL. The secret is returned once and cannot be read again. Labels are unique per **account**, so the same label cannot be reused across agents.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID to bind the endpoint to."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "url"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9-]{0,30}$",
                    "description": "Your chosen endpoint label. Lowercase letters, numbers, and hyphens only; 1-31 characters. Unique per account.",
                    "example": "acme-tenant"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that receives webhook events.",
                    "example": "https://acme.example.com/vocobase"
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether the endpoint should receive new webhook events."
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEventType"
                    },
                    "default": [],
                    "description": "Event allowlist. Omit or send `[]` to receive every event type."
                  }
                }
              },
              "example": {
                "label": "acme-tenant",
                "url": "https://acme.example.com/vocobase",
                "events": [
                  "session.completed"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created. Save the secret immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/WebhookEndpoint"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "secret": {
                              "type": "string",
                              "description": "HMAC signing secret. Starts with `whsec_`. Returned only once."
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "e1f2a3b4-5678-90ab-cdef-1234567890ab",
                    "label": "acme-tenant",
                    "url": "https://acme.example.com/vocobase",
                    "enabled": true,
                    "agent_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "agent_name": "Acme Sales Bot",
                    "events": [
                      "session.completed"
                    ],
                    "last_delivery_at": null,
                    "last_delivery_status": null,
                    "created_at": "2026-05-25T10:00:00.000Z",
                    "updated_at": "2026-05-25T10:00:00.000Z",
                    "secret": "whsec_abc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "`LABEL_TAKEN` — the label is already used elsewhere on this account — or `LIMIT_EXCEEDED` — this agent already has 5 endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/agent/{agentId}/webhooks/settings": {
      "patch": {
        "operationId": "updateAgentWebhookSettings",
        "summary": "Toggle account-wide fan-out for an agent",
        "description": "Controls whether this agent's events also reach your account-wide endpoints. `true` (the default) is additive: the agent's events go to its own endpoints **and** every account-wide endpoint. `false` routes them to the agent's own endpoints only.\n\nFiltering is strict when fan-out is off: an event whose type is not in any of the agent's endpoint allowlists is dropped, not forwarded to an account-wide endpoint as a fallback.\n\nTurning it off is refused while the agent has no enabled endpoint of its own, and it flips back to `true` automatically if you later delete or disable the agent's last enabled endpoint — an agent is never left with nowhere to deliver.",
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "include_account_endpoints"
                ],
                "properties": {
                  "include_account_endpoints": {
                    "type": "boolean",
                    "description": "Whether this agent's events also reach account-wide endpoints."
                  }
                }
              },
              "example": {
                "include_account_endpoints": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Setting updated. The response echoes the stored value.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "include_account_endpoints": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "include_account_endpoints": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "`NO_AGENT_ENDPOINT` — add an enabled webhook endpoint for this agent before routing its events away from the account endpoints, otherwise they would go nowhere.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/twilio": {
      "put": {
        "operationId": "updateTwilioConfig",
        "summary": "Set or update Twilio credentials",
        "description": "Stores encrypted Twilio credentials for outbound calling. All three fields are required.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_sid",
                  "auth_token",
                  "from_number"
                ],
                "properties": {
                  "account_sid": {
                    "type": "string",
                    "description": "Twilio Account SID.",
                    "example": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Twilio Auth Token.",
                    "example": "your_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Twilio phone number in E.164 format.",
                    "example": "+14155551234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Twilio credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_sid": {
                          "type": "string",
                          "description": "Masked Account SID."
                        },
                        "from_number": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_sid": "ACxx****xxxx",
                    "from_number": "+14155551234",
                    "message": "Twilio credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/mcube": {
      "put": {
        "operationId": "updateMcubeConfig",
        "summary": "Set or update MCube credentials",
        "description": "Stores encrypted MCube JWT token and executive number for outbound calling. Creates or updates the account's default MCube telephony connection; for multiple named connections use POST /telephony/connections with provider \"mcube\".",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jwt_token",
                  "exe_number"
                ],
                "properties": {
                  "jwt_token": {
                    "type": "string",
                    "description": "MCube JWT authentication token."
                  },
                  "exe_number": {
                    "type": "string",
                    "description": "MCube executive number (4-15 digits, optional + prefix).",
                    "example": "+919876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCube credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "exe_number": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "exe_number": "+919876543210",
                    "message": "MCube credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/exotel": {
      "put": {
        "operationId": "updateExotelConfig",
        "summary": "Set or update Exotel credentials",
        "description": "Stores encrypted Exotel credentials for outbound calling. All six fields are required. The `caller_id` must be an E.164 phone number that Exotel has provisioned for your account.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_sid",
                  "api_key",
                  "api_token",
                  "subdomain",
                  "caller_id",
                  "applet_id"
                ],
                "properties": {
                  "account_sid": {
                    "type": "string",
                    "description": "Exotel Account SID (SID of your Exotel account).",
                    "example": "acme"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Exotel API key.",
                    "example": "your_api_key"
                  },
                  "api_token": {
                    "type": "string",
                    "description": "Exotel API token.",
                    "example": "your_api_token"
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "Exotel API subdomain (region). Typical values: `api.exotel.com`, `api.in.exotel.com`.",
                    "example": "api.exotel.com"
                  },
                  "caller_id": {
                    "type": "string",
                    "description": "Exotel-provisioned phone number used as the caller ID, in E.164 format.",
                    "example": "+919876543210"
                  },
                  "applet_id": {
                    "type": "string",
                    "description": "Exotel Applet (flow) ID used to handle the call.",
                    "example": "12345"
                  }
                }
              },
              "example": {
                "account_sid": "acme",
                "api_key": "your_api_key",
                "api_token": "your_api_token",
                "subdomain": "api.exotel.com",
                "caller_id": "+919876543210",
                "applet_id": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exotel credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_sid": {
                          "type": "string",
                          "description": "Masked after save."
                        },
                        "subdomain": {
                          "type": "string"
                        },
                        "caller_id": {
                          "type": "string"
                        },
                        "applet_id": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_sid": "conf****ured",
                    "subdomain": "api.exotel.com",
                    "caller_id": "+919876543210",
                    "applet_id": "12345",
                    "message": "Exotel credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/plivo": {
      "put": {
        "operationId": "updatePlivoConfig",
        "summary": "Set or update Plivo credentials",
        "description": "Stores encrypted Plivo credentials for outbound calling. All three fields are required. The `from_number` must be an E.164 phone number that Plivo has provisioned for your account.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id",
                  "auth_token",
                  "from_number"
                ],
                "properties": {
                  "auth_id": {
                    "type": "string",
                    "description": "Plivo Auth ID (starts with `MA` for production accounts, `SA` for subaccounts).",
                    "example": "MAxxxxxxxxxxxxxxxxxx"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Plivo Auth Token.",
                    "example": "your_plivo_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Plivo-provisioned phone number used as the caller ID, in E.164 format. Must have Voice capabilities enabled.",
                    "example": "+14155551234"
                  }
                }
              },
              "example": {
                "auth_id": "MAxxxxxxxxxxxxxxxxxx",
                "auth_token": "your_plivo_auth_token",
                "from_number": "+14155551234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plivo credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "auth_id": {
                          "type": "string",
                          "description": "Masked after save."
                        },
                        "from_number": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "auth_id": "MAxx****xxxx",
                    "from_number": "+14155551234",
                    "message": "Plivo credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/vobiz": {
      "put": {
        "operationId": "updateVobizConfig",
        "summary": "Set or update Vobiz credentials",
        "description": "Stores encrypted Vobiz credentials for outbound calling. All three fields are required. The `from_number` must be an E.164 phone number that Vobiz has provisioned for your account.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id",
                  "auth_token",
                  "from_number"
                ],
                "properties": {
                  "auth_id": {
                    "type": "string",
                    "description": "Vobiz Auth ID (typically formatted as `MA_XXXXXXXX`).",
                    "example": "MA_XXXXXXXX"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Vobiz Auth Token.",
                    "example": "your_vobiz_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Vobiz-provisioned phone number used as the caller ID, in E.164 format.",
                    "example": "+918011223344"
                  }
                }
              },
              "example": {
                "auth_id": "MA_XXXXXXXX",
                "auth_token": "your_vobiz_auth_token",
                "from_number": "+918011223344"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vobiz credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "auth_id": {
                          "type": "string",
                          "description": "Masked after save."
                        },
                        "from_number": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "auth_id": "MA_X****XXXX",
                    "from_number": "+918011223344",
                    "message": "Vobiz credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/voicelink": {
      "put": {
        "operationId": "updateVoiceLinkConfig",
        "summary": "Set or update VoiceLink credentials",
        "description": "Stores VoiceLink credentials for outbound calling. VoiceLink authenticates with a panel `username` and `password`; Vocobase logs in with these to obtain a short-lived access token (the password is stored encrypted and never returned). `username`, `password`, and `from_number` are required. `base_url` is accepted for backwards compatibility but ignored: VoiceLink only accepts connections from Indian IP addresses, so Vocobase routes all outbound VoiceLink traffic through its own India-based egress and sets the host itself. It is returned as an origin only. The `from_number` must be an E.164 number provisioned on your VoiceLink account and is stored as the connection's default outbound DID. Requires `\"voicelink\"` in `allowed_telephony_providers`.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "from_number"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "VoiceLink panel username.",
                    "example": "acme-voice"
                  },
                  "password": {
                    "type": "string",
                    "description": "VoiceLink panel password. Stored encrypted; never returned.",
                    "example": "your-voicelink-password"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "VoiceLink-provisioned number used as the caller ID, in E.164 format. Stored as the connection's default DID.",
                    "example": "+918011223344"
                  },
                  "base_url": {
                    "type": "string",
                    "description": "Optional VoiceLink API base URL. Omit to use the default host.",
                    "example": "https://app.voicelink.co.in"
                  }
                }
              },
              "example": {
                "username": "acme-voice",
                "password": "your-voicelink-password",
                "from_number": "+918011223344"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "from_number": {
                          "type": "string"
                        },
                        "base_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "username": "acme-voice",
                    "from_number": "+918011223344",
                    "base_url": null,
                    "message": "VoiceLink credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/telephony/tata-smartflo": {
      "put": {
        "operationId": "updateTataSmartfloConfig",
        "summary": "Set or update Tata Smartflo credentials",
        "description": "Stores Tata Smartflo credentials for inbound and outbound BYOP WebSocket calling. Tata Smartflo authenticates with a panel `email` and `password`; Vocobase logs in with these to obtain short-lived API tokens (the password is stored encrypted and never returned). `email`, `password`, and `from_number` are required; `base_url` is optional and defaults to the Tata Smartflo API host. The `from_number` must be an E.164 DID returned by Smartflo `GET /v1/my_number` and is stored as the connection's default outbound DID. Requires `\"tata_smartflo\"` in `allowed_telephony_providers`.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "from_number"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Tata Smartflo panel email.",
                    "example": "ops@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Tata Smartflo panel password. Stored encrypted; never returned.",
                    "example": "your-smartflo-password"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Tata Smartflo DID used as the caller ID, in E.164 format. Stored as the connection's default DID.",
                    "example": "+918011223344"
                  },
                  "base_url": {
                    "type": "string",
                    "description": "Optional Tata Smartflo API base URL. Omit to use the default host.",
                    "example": "https://api-smartflo.tatateleservices.com"
                  },
                  "agent_number": {
                    "type": "string",
                    "description": "Optional outbound agent leg number. Use only after Vocobase confirms the required Smartflo value for your account."
                  }
                }
              },
              "example": {
                "email": "ops@example.com",
                "password": "your-smartflo-password",
                "from_number": "+918011223344",
                "base_url": "https://api-smartflo.tatateleservices.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tata Smartflo credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "from_number": {
                          "type": "string"
                        },
                        "base_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "agent_number": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "email": "ops@example.com",
                    "from_number": "+918011223344",
                    "base_url": "https://api-smartflo.tatateleservices.com",
                    "agent_number": null,
                    "message": "Tata Smartflo credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/config/display-name": {
      "put": {
        "operationId": "updateDisplayName",
        "summary": "Update connection display name",
        "description": "Changes the connection display name shown in the dashboard and API responses.",
        "tags": [
          "Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "display_name"
                ],
                "properties": {
                  "display_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "New display name (1-100 characters).",
                    "example": "Acme Corporation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Display name updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "display_name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "display_name": "Acme Corporation",
                    "message": "Display name updated successfully."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/telephony/connections": {
      "get": {
        "operationId": "listTelephonyConnections",
        "summary": "List telephony connections",
        "description": "Lists active named telephony connections owned by the authenticated account. Use the optional provider filter to narrow results.",
        "tags": [
          "Telephony Connections"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "twilio",
                "exotel",
                "plivo",
                "vobiz",
                "tata_smartflo",
                "sip",
                "voicelink",
                "mcube"
              ]
            },
            "description": "Optional provider filter."
          }
        ],
        "responses": {
          "200": {
            "description": "Telephony connections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TelephonyConnection"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTelephonyConnection",
        "summary": "Create a telephony connection",
        "description": "Creates a named BYOP telephony connection. Store the returned `connection_id` and pass it to call-start or phone-number sync endpoints when an account has multiple active connections for the same provider.",
        "tags": [
          "Telephony Connections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTelephonyConnectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connection created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connection": {
                          "$ref": "#/components/schemas/TelephonyConnection"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "connection": {
                      "id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                      "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                      "provider": "plivo",
                      "provider_key": "PLIVO",
                      "name": "Plivo India - Sales",
                      "status": "ACTIVE",
                      "is_default": true,
                      "phone_numbers": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/telephony/connections/{connection_id}": {
      "get": {
        "operationId": "getTelephonyConnection",
        "summary": "Retrieve a telephony connection",
        "description": "Returns a single active telephony connection by ID, including all of its active DIDs and the agent linked to each. Use this to keep an external system synced with the connection's numbers and agent assignments as shown in the Vocobase dashboard.",
        "tags": [
          "Telephony Connections"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Telephony connection ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Telephony connection with its active phone numbers and linked agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connection": {
                          "$ref": "#/components/schemas/TelephonyConnection"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "renameTelephonyConnection",
        "summary": "Rename a telephony connection",
        "description": "Updates the display name of an active telephony connection. Credentials are not rotated by this endpoint.",
        "tags": [
          "Telephony Connections"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Telephony connection ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Plivo India - Support"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connection": {
                          "$ref": "#/components/schemas/TelephonyConnection"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "disconnectTelephonyConnection",
        "summary": "Disconnect a telephony connection",
        "description": "Disconnects an active telephony connection and inactivates its phone numbers.",
        "tags": [
          "Telephony Connections"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Telephony connection ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Connection disconnected."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/voicelink/clients": {
      "get": {
        "operationId": "listVoiceLinkClients",
        "summary": "List VoiceLink clients",
        "description": "Lists clients from the selected active VoiceLink connection. Pass `connection_id` when the account has more than one active VoiceLink connection. The VoiceLink upstream response is returned in `data` without Vocobase-side deletion or ownership changes.",
        "tags": [
          "VoiceLink Management"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "VoiceLink client search term."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "VoiceLink client status filter."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "VoiceLink page size."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "VoiceLink page number."
          }
        ],
        "responses": {
          "200": {
            "description": "VoiceLink clients response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceLinkProxyResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 415,
                        "first_name": "Acme",
                        "last_name": "Sales",
                        "username": "acme-sales",
                        "email": "voice@example.com",
                        "status": 1,
                        "channel_count": 5
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createVoiceLinkClient",
        "summary": "Create a VoiceLink client",
        "description": "Creates a client in VoiceLink through the selected active VoiceLink connection. VoiceLink remains the source of truth for remote client ownership and status.",
        "tags": [
          "VoiceLink Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceLinkCreateClientRequest"
              },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "first_name": "Acme",
                "last_name": "Sales",
                "username": "acme-sales",
                "email": "voice@example.com",
                "password": "temporary-client-password",
                "channel_count": 5,
                "phone": "+918011223344",
                "is_active": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink client created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceLinkProxyResponse"
                }
              }
            }
          },
          "201": {
            "description": "VoiceLink client created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceLinkProxyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/voicelink/clients/{client_id}": {
      "post": {
        "operationId": "updateVoiceLinkClient",
        "summary": "Update a VoiceLink client",
        "description": "Updates a client in VoiceLink. Fields omitted from the request are omitted from the forwarded VoiceLink update body.",
        "tags": [
          "VoiceLink Management"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "VoiceLink client ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceLinkUpdateClientRequest"
              },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
                "first_name": "Acme",
                "last_name": "Support",
                "email": "support@example.com",
                "channel_count": 10,
                "is_active": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VoiceLink client updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceLinkProxyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/voicelink/dids/purchased": {
      "get": {
        "operationId": "listPurchasedVoiceLinkDids",
        "summary": "List purchased VoiceLink DIDs",
        "description": "Lists DIDs already purchased or assigned in VoiceLink. This endpoint is read-only and does not purchase, renew, KYC, or allocate wallet credit.",
        "tags": [
          "VoiceLink Management"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "DID search term."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "VoiceLink DID status filter."
          },
          {
            "name": "did_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "VoiceLink DID type filter."
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "VoiceLink client ID filter."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchased DIDs response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceLinkProxyResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "data": [
                      {
                        "id": 812,
                        "did_id": 812,
                        "did_number": "918011223344",
                        "client_id": 415,
                        "status": "active"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/voicelink/dids/available": {
      "get": {
        "operationId": "listAvailableVoiceLinkDids",
        "summary": "List available VoiceLink DIDs",
        "description": "Lists DIDs returned by VoiceLink as available for client mapping. Day-one scope is read-only for inventory: purchase, renew, KYC, wallet, and credit allocation operations are excluded.",
        "tags": [
          "VoiceLink Management"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional unless multiple active VoiceLink connections exist."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "did_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available DIDs response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceLinkProxyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/voicelink/dids/map": {
      "post": {
        "operationId": "mapVoiceLinkDid",
        "summary": "Map a VoiceLink DID to a client",
        "description": "Maps a VoiceLink DID to a VoiceLink client. VoiceLink remains the source of truth for remote DID ownership; Vocobase does not delete local phone-number rows when remote mapping changes.",
        "tags": [
          "VoiceLink Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceLinkMapDidRequest"
              },
              "example": {
                "connection_id": "9b7f1c44-c87f-4f0c-9124-3c802a9c1a20",
[...]
