{
  "openapi": "3.1.0",
  "info": {
    "title": "Vocobase Partner API",
    "version": "2.0",
    "description": "API for managing voice AI agents, documents, and calls on the Vocobase platform."
  },
  "servers": [
    {
      "url": "https://api.vocobase.com/api/v2",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Config",
      "description": "Read and update partner configuration, webhook settings, and telephony credentials."
    },
    {
      "name": "Agents",
      "description": "Create, read, update, and delete voice AI agents."
    },
    {
      "name": "Voices",
      "description": "List available voices for agent configuration."
    },
    {
      "name": "Documents",
      "description": "Upload, manage, and delete knowledge base documents."
    },
    {
      "name": "Agent Documents",
      "description": "Link and unlink documents to agents for knowledge base integration."
    },
    {
      "name": "Calls",
      "description": "Initiate outbound calls and view call history."
    },
    {
      "name": "Campaigns",
      "description": "Create and run outbound calling campaigns. Upload contacts in bulk, start/pause/resume/stop the campaign, and monitor progress."
    },
    {
      "name": "Projects",
      "description": "Organize agents into projects. Every agent belongs to exactly one project."
    },
    {
      "name": "Dictionaries",
      "description": "Soniox STT dictionary CRUD and agent attachment."
    }
  ],
  "paths": {
    "/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get partner configuration",
        "description": "Returns the current partner configuration including webhook status, telephony setup, agent limits, and allowed voices/languages. Sensitive values are masked.",
        "tags": ["Config"],
        "responses": {
          "200": {
            "description": "Partner configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/PartnerConfig" }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "name": "acme-corp",
                    "display_name": "Acme Corporation",
                    "agent_limit": 10,
                    "current_agent_count": 3,
                    "allowed_voices": ["voice-id-1", "voice-id-2"],
                    "allowed_languages": ["en", "hi", "es"],
                    "status": "active",
                    "webhook": {
                      "configured": true,
                      "url": "https://example.com/webhook",
                      "secret": "****"
                    },
                    "allowed_telephony_providers": ["twilio", "exotel"],
                    "telephony": {
                      "twilio": {
                        "configured": true,
                        "account_sid": "conf****ured",
                        "from_number": "+14155551234"
                      },
                      "mcube": {
                        "configured": false,
                        "exe_number": null
                      },
                      "exotel": {
                        "configured": true,
                        "account_sid": "conf****ured",
                        "subdomain": "api.exotel.com",
                        "caller_id": "+919876543210",
                        "applet_id": "app_****"
                      },
                      "plivo": {
                        "configured": false,
                        "auth_id": null,
                        "from_number": null
                      }
                    },
                    "created_at": "2025-01-15T10:30:00.000Z"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/webhook": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Set or update webhook URL",
        "description": "Configures the webhook URL for receiving call status updates. A new webhook secret is generated on each call. Save the returned secret immediately -- it will not be shown again.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["webhook_url"],
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL to receive webhook events.",
                    "example": "https://example.com/webhooks/vocobase"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured successfully. The secret is shown only once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "webhook_url": { "type": "string", "format": "uri" },
                        "webhook_secret": { "type": "string", "description": "HMAC signing secret. Starts with `whsec_`." },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "webhook_url": "https://example.com/webhooks/vocobase",
                    "webhook_secret": "whsec_abc123...",
                    "message": "Save this secret — it will not be shown again."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/twilio": {
      "put": {
        "operationId": "updateTwilioConfig",
        "summary": "Set or update Twilio credentials",
        "description": "Stores encrypted Twilio credentials for outbound calling. All three fields are required.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_sid", "auth_token", "from_number"],
                "properties": {
                  "account_sid": {
                    "type": "string",
                    "description": "Twilio Account SID.",
                    "example": "ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Twilio Auth Token.",
                    "example": "your_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Twilio phone number in E.164 format.",
                    "example": "+14155551234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Twilio credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_sid": { "type": "string", "description": "Masked Account SID." },
                        "from_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_sid": "ACxx****xxxx",
                    "from_number": "+14155551234",
                    "message": "Twilio credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/mcube": {
      "put": {
        "operationId": "updateMcubeConfig",
        "summary": "Set or update MCube credentials",
        "description": "Stores encrypted MCube JWT token and executive number for outbound calling.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jwt_token", "exe_number"],
                "properties": {
                  "jwt_token": {
                    "type": "string",
                    "description": "MCube JWT authentication token."
                  },
                  "exe_number": {
                    "type": "string",
                    "description": "MCube executive number (4-15 digits, optional + prefix).",
                    "example": "+919876543210"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCube credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "exe_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "exe_number": "+919876543210",
                    "message": "MCube credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/exotel": {
      "put": {
        "operationId": "updateExotelConfig",
        "summary": "Set or update Exotel credentials",
        "description": "Stores encrypted Exotel credentials for outbound calling. All six fields are required. The `caller_id` must be an E.164 phone number that Exotel has provisioned for your account.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_sid", "api_key", "api_token", "subdomain", "caller_id", "applet_id"],
                "properties": {
                  "account_sid": {
                    "type": "string",
                    "description": "Exotel Account SID (SID of your Exotel account).",
                    "example": "acme"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Exotel API key.",
                    "example": "your_api_key"
                  },
                  "api_token": {
                    "type": "string",
                    "description": "Exotel API token.",
                    "example": "your_api_token"
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "Exotel API subdomain (region). Typical values: `api.exotel.com`, `api.in.exotel.com`.",
                    "example": "api.exotel.com"
                  },
                  "caller_id": {
                    "type": "string",
                    "description": "Exotel-provisioned phone number used as the caller ID, in E.164 format.",
                    "example": "+919876543210"
                  },
                  "applet_id": {
                    "type": "string",
                    "description": "Exotel Applet (flow) ID used to handle the call.",
                    "example": "12345"
                  }
                }
              },
              "example": {
                "account_sid": "acme",
                "api_key": "your_api_key",
                "api_token": "your_api_token",
                "subdomain": "api.exotel.com",
                "caller_id": "+919876543210",
                "applet_id": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exotel credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_sid": { "type": "string", "description": "Masked after save." },
                        "subdomain": { "type": "string" },
                        "caller_id": { "type": "string" },
                        "applet_id": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_sid": "conf****ured",
                    "subdomain": "api.exotel.com",
                    "caller_id": "+919876543210",
                    "applet_id": "12345",
                    "message": "Exotel credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/telephony/plivo": {
      "put": {
        "operationId": "updatePlivoConfig",
        "summary": "Set or update Plivo credentials",
        "description": "Stores encrypted Plivo credentials for outbound calling. All three fields are required. The `from_number` must be an E.164 phone number that Plivo has provisioned for your account.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["auth_id", "auth_token", "from_number"],
                "properties": {
                  "auth_id": {
                    "type": "string",
                    "description": "Plivo Auth ID (starts with `MA` for production accounts, `SA` for subaccounts).",
                    "example": "MAxxxxxxxxxxxxxxxxxx"
                  },
                  "auth_token": {
                    "type": "string",
                    "description": "Plivo Auth Token.",
                    "example": "your_plivo_auth_token"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "Plivo-provisioned phone number used as the caller ID, in E.164 format. Must have Voice capabilities enabled.",
                    "example": "+14155551234"
                  }
                }
              },
              "example": {
                "auth_id": "MAxxxxxxxxxxxxxxxxxx",
                "auth_token": "your_plivo_auth_token",
                "from_number": "+14155551234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plivo credentials updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "auth_id": { "type": "string", "description": "Masked after save." },
                        "from_number": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "auth_id": "MAxx****xxxx",
                    "from_number": "+14155551234",
                    "message": "Plivo credentials updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/config/display-name": {
      "put": {
        "operationId": "updateDisplayName",
        "summary": "Update partner display name",
        "description": "Changes the partner display name shown in the dashboard and API responses.",
        "tags": ["Config"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["display_name"],
                "properties": {
                  "display_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "New display name (1-100 characters).",
                    "example": "Acme Corporation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Display name updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "display_name": { "type": "string" },
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "display_name": "Acme Corporation",
                    "message": "Display name updated successfully."
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent/all": {
      "get": {
        "operationId": "listAgents",
        "summary": "List agents",
        "description": "Returns a paginated list of the partner's agents, ordered by creation date (newest first). Deleted agents are excluded.",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 },
            "description": "Number of agents to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "Number of agents to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Agent" }
                        },
                        "total": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "offset": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent": {
      "post": {
        "operationId": "createAgent",
        "summary": "Create an agent",
        "description": "Creates a new voice AI agent. The `voice_id` must be from the partner's allowed voices list (see `GET /agent/voices`). The `language` must be from the partner's allowed languages. Agent names must be unique per partner.",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_name", "prompt", "voice_id", "language", "agent_type"],
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Unique agent name.",
                    "example": "Sales Assistant"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 120000,
                    "description": "System prompt defining the agent's personality and behavior."
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Cartesia voice ID from the allowed voices list.",
                    "example": "a0e99841-438c-4a64-b679-ae501e7d6091"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code from the partner's allowed languages.",
                    "example": "en"
                  },
                  "agent_type": {
                    "type": "string",
                    "enum": ["inbound", "outbound"],
                    "description": "Whether the agent handles inbound or outbound calls."
                  },
                  "intro_message": {
                    "type": ["string", "null"],
                    "maxLength": 500,
                    "description": "Optional greeting spoken when a call connects."
                  },
                  "project_id": {
                    "type": ["string", "null"],
                    "format": "uuid",
                    "description": "Assign the agent to a specific project. Defaults to the default project if omitted."
                  },
                  "enable_recording": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to record calls made with this agent."
                  },
                  "kb_threshold": {
                    "type": ["string", "null"],
                    "enum": ["low", "medium", "high", null],
                    "default": "medium",
                    "description": "Knowledge base search relevance threshold."
                  },
                  "kb_include_summaries": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include document summaries in KB search results."
                  },
                  "kb_result_format": {
                    "type": ["string", "null"],
                    "maxLength": 2000,
                    "description": "Custom format template for KB search results."
                  },
                  "kb_enable_llm_processing": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable LLM post-processing of KB search results."
                  },
                  "kb_llm_system_prompt": {
                    "type": ["string", "null"],
                    "maxLength": 120000,
                    "description": "System prompt for LLM KB processing."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "Agent limit reached.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "LIMIT_REACHED", "message": "Agent limit reached. Maximum 10 agents allowed." }
                }
              }
            }
          },
          "409": {
            "description": "Agent name already exists.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "CONFLICT", "message": "An agent with this name already exists" }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent/{id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get an agent",
        "description": "Returns a single agent by ID.",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "put": {
        "operationId": "updateAgent",
        "summary": "Update an agent",
        "description": "Updates one or more agent fields. Only provided fields are changed. At least one field must be provided.",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "New agent name."
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 120000,
                    "description": "New system prompt."
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "New voice ID from allowed voices."
                  },
                  "language": {
                    "type": "string",
                    "description": "New language code from allowed languages."
                  },
                  "agent_type": {
                    "type": "string",
                    "enum": ["inbound", "outbound"]
                  },
                  "intro_message": {
                    "type": ["string", "null"],
                    "maxLength": 500,
                    "description": "New greeting message. Pass `null` or empty string to remove."
                  },
                  "project_id": {
                    "type": ["string", "null"],
                    "format": "uuid",
                    "description": "Move the agent to a different project."
                  },
                  "enable_recording": {
                    "type": "boolean"
                  },
                  "kb_threshold": {
                    "type": ["string", "null"],
                    "enum": ["low", "medium", "high", null],
                    "description": "Pass `null` to reset to default (medium)."
                  },
                  "kb_include_summaries": {
                    "type": "boolean"
                  },
                  "kb_result_format": {
                    "type": ["string", "null"],
                    "maxLength": 2000
                  },
                  "kb_enable_llm_processing": {
                    "type": "boolean"
                  },
                  "kb_llm_system_prompt": {
                    "type": ["string", "null"],
                    "maxLength": 120000
                  },
                  "variables": {
                    "type": ["array", "null"],
                    "items": { "type": "string", "pattern": "^[a-zA-Z_][a-zA-Z0-9_]*$" },
                    "maxItems": 100,
                    "description": "List of pre-call variable names referenced in the prompt or greeting as `{{name}}`. Per-call values are supplied via the `variables` body field on `POST /calls/start`. Pass `null` to clear."
                  },
                  "extraction_config": {
                    "oneOf": [
                      { "type": "null" },
                      { "$ref": "#/components/schemas/ExtractionConfig" }
                    ],
                    "description": "Custom Analysis config — runs an LLM extraction over the transcript after every completed call. Pass `null` to disable extraction."
                  }
                },
                "minProperties": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "Agent name conflict.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "CONFLICT", "message": "An agent with this name already exists" }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Delete an agent",
        "description": "Soft-deletes an agent and removes all linked document associations. SuperMemory cleanup is handled asynchronously.",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": { "message": "Agent deleted successfully" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent/voices": {
      "get": {
        "operationId": "listVoices",
        "summary": "List available voices",
        "description": "Returns the voices available to this partner, filtered from the Cartesia voice catalog. Optionally filter by language.",
        "tags": ["Voices"],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter voices by language code (e.g., `en`, `hi`). Case-insensitive partial match.",
            "example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "List of voices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "voices": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Voice" }
                        },
                        "allowed_languages": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "Language codes the partner is allowed to use."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "voices": [
                      {
                        "id": "a0e99841-438c-4a64-b679-ae501e7d6091",
                        "name": "Sarah",
                        "description": "A warm, professional female voice.",
                        "language": "English",
                        "gender": "female"
                      }
                    ],
                    "allowed_languages": ["en", "hi", "es"]
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/documents/upload": {
      "post": {
        "operationId": "getUploadUrl",
        "summary": "Get presigned upload URL",
        "description": "Creates a document record and returns a presigned S3 URL for uploading the file. After uploading, call `POST /documents/{id}/confirm` to finalize. The upload URL expires in 15 minutes.",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "file_size", "mime_type"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Document display name.",
                    "example": "Product FAQ.pdf"
                  },
                  "file_size": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 52428800,
                    "description": "File size in bytes (max 50 MB).",
                    "example": 1048576
                  },
                  "mime_type": {
                    "type": "string",
                    "enum": [
                      "application/pdf",
                      "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                      "text/plain",
                      "text/markdown",
                      "image/png",
                      "image/jpeg",
                      "image/gif",
                      "image/webp"
                    ],
                    "description": "MIME type of the file.",
                    "example": "application/pdf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload URL generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "document_id": { "type": "string", "format": "uuid" },
                        "upload_url": { "type": "string", "format": "uri", "description": "Presigned S3 PUT URL." },
                        "expires_in": { "type": "integer", "description": "URL expiry in seconds.", "example": 900 }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "document_id": "d1234567-abcd-1234-abcd-123456789012",
                    "upload_url": "https://s3.amazonaws.com/bucket/path?X-Amz-Signature=...",
                    "expires_in": 900
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/documents/{id}/confirm": {
      "post": {
        "operationId": "confirmUpload",
        "summary": "Confirm document upload",
        "description": "Confirms that the file has been uploaded to S3. Verifies the file exists and transitions the document status from `uploading` to `ready`. Must be called after uploading to the presigned URL.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Document ID returned from the upload endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Upload confirmed, document is now ready.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "Document has already been confirmed.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "CONFLICT", "message": "Document has already been confirmed" }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/documents/web-link": {
      "post": {
        "operationId": "addWebLink",
        "summary": "Add a web link document",
        "description": "Creates a document from a URL. The URL content will be crawled and indexed when linked to an agent. The document is immediately `ready` (no upload step needed).",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "url"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Document display name.",
                    "example": "Company Blog"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to index (http or https).",
                    "example": "https://example.com/blog"
                  },
                  "description": {
                    "type": ["string", "null"],
                    "maxLength": 500,
                    "description": "Optional description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Web link document created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "description": "Returns a paginated list of all documents, ordered by creation date (newest first). Each document includes the number of agents it is linked to.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 },
            "description": "Number of documents to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "Number of documents to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "documents": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              { "$ref": "#/components/schemas/Document" },
                              {
                                "type": "object",
                                "properties": {
                                  "agent_count": {
                                    "type": "integer",
                                    "description": "Number of agents this document is linked to."
                                  }
                                }
                              }
                            ]
                          }
                        },
                        "total": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "offset": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a document",
        "description": "Returns a single document with a temporary download URL (for file documents) or the original URL (for web links), plus a list of linked agents with their sync status.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Document ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Document details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/Document" },
                        {
                          "type": "object",
                          "properties": {
                            "download_url": {
                              "type": ["string", "null"],
                              "format": "uri",
                              "description": "Presigned download URL (file docs) or original URL (web links)."
                            },
                            "agents": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string", "format": "uuid" },
                                  "name": { "type": "string" },
                                  "sync_status": {
                                    "type": "string",
                                    "enum": ["pending", "synced", "failed"]
                                  }
                                }
                              },
                              "description": "Agents this document is linked to."
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "put": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "description": "Updates the document name and/or description. At least one field must be provided. Invalidates KB cache for all agents linked to this document.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Document ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "New document name."
                  },
                  "description": {
                    "type": ["string", "null"],
                    "maxLength": 500,
                    "description": "New description. Pass `null` or empty string to remove."
                  }
                },
                "minProperties": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "description": "Permanently deletes a document, removes the file from S3 (if applicable), and unlinks it from all agents. SuperMemory cleanup is handled asynchronously.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Document ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": { "message": "Document deleted successfully" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/dictionaries": {
      "get": {
        "operationId": "listDictionaries",
        "summary": "List dictionaries",
        "description": "Returns every Soniox STT dictionary owned by the partner, ordered by creation date (newest first). The summary shape does not include the `terms` array -- fetch a single dictionary to see them.",
        "tags": ["Dictionaries"],
        "responses": {
          "200": {
            "description": "List of dictionaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dictionaries": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/DictionarySummary" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "createDictionary",
        "summary": "Create a dictionary",
        "description": "Creates a new Soniox STT dictionary for the partner. Terms are normalized server-side: whitespace is trimmed, empty/whitespace-only entries are dropped, non-string entries are silently skipped, and the dedupe is case-insensitive but preserves first-occurrence casing. A blank `description` is stored as `null`. Dictionary names must be unique per partner.",
        "tags": ["Dictionaries"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Unique dictionary name (per partner)."
                  },
                  "description": {
                    "type": ["string", "null"],
                    "maxLength": 500,
                    "description": "Optional description. Blank strings are stored as null."
                  },
                  "terms": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Optional list of terms. Defaults to []. Normalized server-side."
                  }
                }
              },
              "example": {
                "name": "Vocobase Product Catalog",
                "description": "Product names, SKUs, and plan tiers referenced on support calls.",
                "terms": ["Vocobase", "SKU-4471", "Pro Annual Plan", "Voice Sandbox", "Meera Iyer"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dictionary created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Dictionary" }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "d1234567-abcd-1234-abcd-123456789012",
                    "name": "Vocobase Product Catalog",
                    "description": "Product names, SKUs, and plan tiers referenced on support calls.",
                    "terms": ["Vocobase", "SKU-4471", "Pro Annual Plan", "Voice Sandbox", "Meera Iyer"],
                    "term_count": 5,
                    "char_count": 52,
                    "attached_agent_count": 0,
                    "created_at": "2026-04-24T10:30:00.000Z",
                    "updated_at": "2026-04-24T10:30:00.000Z"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": {
            "description": "Dictionary name already taken by this partner.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": {
                    "code": "DICTIONARY_NAME_TAKEN",
                    "message": "A dictionary with this name already exists."
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/dictionaries/{id}": {
      "get": {
        "operationId": "getDictionary",
        "summary": "Get a dictionary",
        "description": "Returns the full detail for a single dictionary, including the `terms` array.",
        "tags": ["Dictionaries"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Dictionary ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary detail.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Dictionary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Dictionary not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": {
                    "code": "DICTIONARY_NOT_FOUND",
                    "message": "Dictionary not found"
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "patch": {
        "operationId": "updateDictionary",
        "summary": "Update a dictionary",
        "description": "Updates any subset of `name`, `description`, or `terms`. Passing `terms` replaces the whole list -- there is no incremental add/remove. If the dictionary is attached to any agent and the new `char_count` would push that agent over 10,000 combined characters, the request fails with `DICTIONARY_CHAR_LIMIT_EXCEEDED`.",
        "tags": ["Dictionaries"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Dictionary ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": ["string", "null"],
                    "maxLength": 500
                  },
                  "terms": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              },
              "example": {
                "terms": ["Vocobase", "SKU-4471", "SKU-4472", "Pro Annual Plan"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dictionary updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Dictionary" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or character limit exceeded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "validation": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "name must be between 1 and 100 characters"
                      }
                    }
                  },
                  "charLimit": {
                    "summary": "Agent char limit exceeded",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "DICTIONARY_CHAR_LIMIT_EXCEEDED",
                        "message": "This update would push agent a1b2c3d4-e5f6-7890-abcd-ef1234567890 over the 10,000-character limit.",
                        "details": {
                          "agent_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "current_chars": 10820,
                          "limit_chars": 10000
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Dictionary not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": {
                    "code": "DICTIONARY_NOT_FOUND",
                    "message": "Dictionary not found"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Dictionary name already taken by this partner.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": {
                    "code": "DICTIONARY_NAME_TAKEN",
                    "message": "A dictionary with this name already exists."
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "operationId": "deleteDictionary",
        "summary": "Delete a dictionary",
        "description": "Permanently deletes a dictionary and cascades the attachment rows. Detaches it from every agent it was attached to. No other data is touched.",
        "tags": ["Dictionaries"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Dictionary ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Dictionary deleted."
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Dictionary not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": {
                    "code": "DICTIONARY_NOT_FOUND",
                    "message": "Dictionary not found"
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent/{id}/documents": {
      "get": {
        "operationId": "listAgentDocuments",
        "summary": "List linked documents",
        "description": "Returns all documents linked to an agent, including their sync status.",
        "tags": ["Agent Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of linked documents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "documents": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/AgentDocument" }
                        },
                        "total": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "operationId": "linkDocuments",
        "summary": "Link documents to an agent",
        "description": "Links one or more documents to an agent for knowledge base integration. Documents must be in `ready` status. Duplicate links are silently skipped (idempotent). Maximum 20 document IDs per request, 100 total linked documents per agent. Queues background sync jobs for newly linked documents.",
        "tags": ["Agent Documents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["document_ids"],
                "properties": {
                  "document_ids": {
                    "type": "array",
                    "items": { "type": "string", "format": "uuid" },
                    "minItems": 1,
                    "maxItems": 20,
                    "description": "Array of document IDs to link."
                  }
                }
              },
              "example": {
                "document_ids": [
                  "d1234567-abcd-1234-abcd-123456789012",
                  "d2345678-abcd-1234-abcd-123456789012"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documents linked (or skipped if already linked).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "linked": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "document_id": { "type": "string", "format": "uuid" },
                              "sync_status": { "type": "string", "example": "pending" }
                            }
                          },
                          "description": "Newly linked documents."
                        },
                        "skipped": {
                          "type": "array",
                          "items": { "type": "string", "format": "uuid" },
                          "description": "Document IDs that were already linked."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "linked": [
                      { "document_id": "d1234567-abcd-1234-abcd-123456789012", "sync_status": "pending" }
                    ],
                    "skipped": ["d2345678-abcd-1234-abcd-123456789012"]
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "Document link limit reached (max 100 per agent).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": {
                    "code": "LIMIT_REACHED",
                    "message": "Cannot link documents. Agent would have 105 documents, exceeding the limit of 100."
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent/{agentId}/documents/{documentId}": {
      "delete": {
        "operationId": "unlinkDocument",
        "summary": "Unlink a document from an agent",
        "description": "Removes the association between a document and an agent. The document itself is not deleted. SuperMemory cleanup is handled asynchronously.",
        "tags": ["Agent Documents"],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Document ID to unlink."
          }
        ],
        "responses": {
          "200": {
            "description": "Document unlinked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": { "message": "Document unlinked from agent" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/agent/{id}/dictionaries": {
      "get": {
        "operationId": "listAgentDictionaries",
        "summary": "List attached dictionaries",
        "description": "Returns all Soniox STT dictionaries currently attached to the agent. The summary shape does not include `description` or `terms`.",
        "tags": ["Agents", "Dictionaries"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "List of attached dictionaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dictionaries": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/AttachedDictionarySummary" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "put": {
        "operationId": "setAgentDictionaries",
        "summary": "Replace the agent's attached dictionaries",
        "description": "Idempotent set-replace: overwrites the agent's entire dictionary set with `dictionary_ids`. Duplicate ids are deduped silently. Every id must exist and belong to the calling partner, else the whole request fails with `VALIDATION_ERROR`. The combined `char_count` across the resulting set must be at most 10,000 characters; otherwise the request fails with `DICTIONARY_CHAR_LIMIT_EXCEEDED`. Pass `[]` to detach all dictionaries. The swap is wrapped in a transaction -- the attached set is never briefly partial.",
        "tags": ["Agents", "Dictionaries"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Agent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["dictionary_ids"],
                "properties": {
                  "dictionary_ids": {
                    "type": "array",
                    "items": { "type": "string", "format": "uuid" },
                    "description": "Full replacement set of dictionary IDs. Pass [] to detach all."
                  }
                }
              },
              "example": {
                "dictionary_ids": ["d1234567-abcd-1234-abcd-123456789012"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent's attached dictionaries after the swap.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dictionaries": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/AttachedDictionarySummary" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "dictionaries": [
                      {
                        "id": "d1234567-abcd-1234-abcd-123456789012",
                        "name": "Vocobase Product Catalog",
                        "term_count": 5,
                        "char_count": 52,
                        "attached_agent_count": 1,
                        "created_at": "2026-04-24T10:30:00.000Z",
                        "updated_at": "2026-04-24T10:30:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or character limit exceeded.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "validation": {
                    "summary": "Unknown or unowned dictionary id",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "One or more dictionary_ids do not exist or are not owned by you"
                      }
                    }
                  },
                  "charLimit": {
                    "summary": "Combined set exceeds 10,000 chars",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "DICTIONARY_CHAR_LIMIT_EXCEEDED",
                        "message": "Attaching these dictionaries would exceed the 10,000-character limit for this agent.",
                        "details": {
                          "current_chars": 11240,
                          "limit_chars": 10000
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/calls/start": {
      "post": {
        "operationId": "startCall",
        "summary": "Start an outbound call",
        "description": "Initiates an outbound phone call via MCube, Twilio, Exotel, or Plivo. Requires sufficient credits and available concurrency (max 5 concurrent calls). The provider you pass must appear in the partner's `allowed_telephony_providers` list and its credentials must already be configured. The call is placed asynchronously -- use webhooks or polling to track status updates.",
        "tags": ["Calls"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agent_id", "to_number"],
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the agent to use for this call."
                  },
                  "to_number": {
                    "type": "string",
                    "description": "Destination phone number in E.164 format.",
                    "example": "+919876543210"
                  },
                  "provider": {
                    "type": "string",
                    "enum": ["mcube", "twilio", "exotel", "plivo"],
                    "default": "mcube",
                    "description": "Telephony provider. Defaults to `mcube` if not specified. The provider must be in your partner's `allowed_telephony_providers` list and its credentials must be configured (see the `/config/telephony/*` endpoints)."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": { "type": "string" },
                    "description": "Pre-call variable values. Keys must match variable names declared on the agent (`Agent.variables`). Substituted into the agent's prompt and greeting via `{{name}}` placeholders. Echoed in the `session.completed` webhook for partner-side audit. Missing variables render as empty strings.",
                    "example": { "callee_name": "Sajal", "mobile_number": "+919876543210" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call initiated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "call_id": { "type": "string", "format": "uuid" },
                        "session_id": { "type": "string", "format": "uuid" },
                        "status": { "type": "string", "example": "pending" },
                        "provider": { "type": "string", "enum": ["mcube", "twilio", "exotel", "plivo"] },
                        "from_number": { "type": "string" },
                        "to_number": { "type": "string" },
                        "agent_id": { "type": "string", "format": "uuid" }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "call_id": "c1234567-abcd-1234-abcd-123456789012",
                    "session_id": "s1234567-abcd-1234-abcd-123456789012",
                    "status": "pending",
                    "provider": "twilio",
                    "from_number": "+14155551234",
                    "to_number": "+919876543210",
                    "agent_id": "a1234567-abcd-1234-abcd-123456789012"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "FORBIDDEN", "message": "Insufficient credits" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": {
            "description": "Concurrent call limit reached.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "LIMIT_REACHED", "message": "Maximum 5 concurrent calls allowed. 5 calls currently active." }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": {
            "description": "Telephony provider call failed.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "INTERNAL_ERROR", "message": "Failed to initiate call. Please try again." }
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "operationId": "listCalls",
        "summary": "List calls",
        "description": "Returns a paginated list of calls, ordered by start time (newest first). Optionally filter by status.",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 },
            "description": "Number of calls to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 },
            "description": "Number of calls to skip."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "ringing", "in_progress", "completed", "failed", "no_answer", "busy", "canceled"]
            },
            "description": "Filter by call status (case-insensitive)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of calls.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "calls": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Call" }
                        },
                        "total": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "offset": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/calls/{id}": {
      "get": {
        "operationId": "getCall",
        "summary": "Get call details",
        "description": "Returns full call details including the associated session with transcript, credits used, and a temporary recording download URL (if recording was enabled). The `recording_url` is valid for 7 days; use `GET /calls/{id}/recording-url` to mint a fresh URL after expiry.",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Call ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Call details with session data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "allOf": [
                        { "$ref": "#/components/schemas/Call" },
                        {
                          "type": "object",
                          "properties": {
                            "session": { "$ref": "#/components/schemas/CallSession" }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/calls/{id}/recording-url": {
      "get": {
        "operationId": "getCallRecordingUrl",
        "summary": "Get a fresh recording URL",
        "description": "Mints a freshly signed download URL for the call's recording, valid for 7 days (the maximum the underlying storage allows). Use this when the `recording_url` returned by `GET /calls/{id}` or by the `session.completed` webhook has expired.\n\nReturns 404 if the call has no recording, the call is not yet complete, or the recording file is no longer available in storage.",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Call ID."
          }
        ],
        "responses": {
          "200": {
            "description": "A fresh signed recording URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "call_id": { "type": "string", "format": "uuid", "description": "The call ID." },
                        "recording_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Time-limited signed URL for downloading the recording (audio/wav)."
                        },
                        "expires_in": {
                          "type": "integer",
                          "description": "Seconds until the URL expires.",
                          "example": 604800
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO-8601 timestamp at which the URL expires."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "call_id": "c1234567-abcd-1234-abcd-123456789012",
                    "recording_url": "https://storage.googleapis.com/vocobase-prod/recordings/.../session.wav?X-Goog-Algorithm=...",
                    "expires_in": 604800,
                    "expires_at": "2026-05-06T08:55:00.000Z"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Call not found, or recording is not available for this call.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "callNotFound": {
                    "summary": "Call not found",
                    "value": {
                      "success": false,
                      "error": { "code": "NOT_FOUND", "message": "Call not found" }
                    }
                  },
                  "recordingNotAttached": {
                    "summary": "Call exists but has no recording (recording was disabled or call did not complete)",
                    "value": {
                      "success": false,
                      "error": { "code": "RECORDING_NOT_AVAILABLE", "message": "No recording is attached to this call" }
                    }
                  },
                  "recordingFileMissing": {
                    "summary": "Recording was deleted from storage",
                    "value": {
                      "success": false,
                      "error": { "code": "RECORDING_NOT_FOUND", "message": "Recording file is no longer available in storage" }
                    }
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/calls/{id}/extract": {
      "post": {
        "operationId": "runCallExtraction",
        "summary": "Run post-call extraction (Test Analysis / replay)",
        "description": "Re-runs post-call extraction against an existing session's stored transcript using the agent's CURRENT `extraction_config`. Useful after editing the config to backfill old sessions, or to test a config against real conversation data.\n\n- `dry_run: true` — runs extraction, returns values, does NOT persist or re-fire the partner webhook\n- `dry_run: false` (default) — persists to the session's `extraction` field; partner webhook is **not** re-fired (replays are dashboard-only).\n\nReturns 400 when the agent has no `extraction_config` defined. Subject to the same partner rate-limit as `POST /calls/start` to prevent burst Gemini quota consumption.",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Call ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dry_run": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, return the extraction result without persisting it."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extraction result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "call_id": { "type": "string", "format": "uuid" },
                        "session_id": { "type": "string", "format": "uuid" },
                        "dry_run": { "type": "boolean" },
                        "extraction": { "$ref": "#/components/schemas/ExtractionResult" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent has no extraction_config defined.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "error": { "code": "EXTRACTION_NOT_CONFIGURED", "message": "Agent has no extraction_config defined" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimitExceeded" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/calls/dismiss-stale": {
      "post": {
        "operationId": "dismissStaleCalls",
        "summary": "Dismiss stale calls",
        "description": "Cancels all calls in `pending` or `ringing` status for the authenticated partner. Useful for cleaning up calls that did not connect.",
        "tags": ["Calls"],
        "responses": {
          "200": {
            "description": "Stale calls dismissed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dismissed": {
                          "type": "integer",
                          "description": "Number of calls that were canceled."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": { "dismissed": 2 }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/campaigns": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "description": "Creates a new campaign in `draft` status. Add contacts with `POST /campaigns/{id}/contacts`, then start the run with `POST /campaigns/{id}/start`.",
        "tags": ["Campaigns"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "agent_id", "provider"],
                "properties": {
                  "name": { "type": "string", "description": "Human-readable campaign name." },
                  "description": { "type": "string", "description": "Optional campaign description." },
                  "agent_id": { "type": "string", "format": "uuid", "description": "Agent used for every call in this campaign." },
                  "provider": {
                    "type": "string",
                    "enum": ["mcube", "twilio", "exotel"],
                    "description": "Telephony provider. Must be in `allowed_telephony_providers` and have credentials configured."
                  },
                  "concurrency_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "description": "Maximum concurrent active calls for this campaign. Clamped to 1-10."
                  }
                }
              },
              "example": {
                "name": "Black Friday outreach",
                "description": "Outbound to VIP customers",
                "agent_id": "a1234567-abcd-1234-abcd-123456789012",
                "provider": "twilio",
                "concurrency_limit": 3
              }
            }
[...]
